<!-- @format -->

<section class="who-we-are ptb-100 bg-image">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-12">
        <div class="section-title">
          <span>What is the Movement?</span>
          <h2>
            <b>G<sub>#</sub> is the very last note of the chromatic scale</b>, but it
            is also the first note because its nature of being an
            A<sub>b</sub> as well. Because of this G# Movement has come to understand this to be
            <b>the movement of the overturning of time</b>, which is a never-ending process.
          </h2>
          <p>
            Once in a generation the stars align at just the right time, possibly through
            mythical forces still yet unrevealed to man, and there will be a chance of a
            brief moment in time where an oppurtunity for an event of pure
            creation can occur; a moment when something that up until then
            had never existed in space, time, or possibly even
            thought suddenly did exist. You never know what you are going to
            get in these rare moments, for they are not yet clearly understood, but it could be something good, or it
            possibly could be something bad. Something really bad. But no matter
            what it ends up being it is always truly something miraculous, for
            its existence is only because of a true miracle. I
            believe we have come across, passed, and are living in one such of a moment like this in time, and
            what Gadfly & G# Movement have created is
            something that is simply too grande not to share with
            everyone that will have it. What I speak of, of course, is the musical production of the
            indie folk-rock album
            <b>We Shall Prevail</b>
            by <b>Gadfly & G# Movement</b>. I hope you've been paying atlest that much attention thus far.
          </p>

          <p>
            So who are these people, Gadfly & G# Movement, one of whom seems to go around calling
            themselves after some sort of house fly? Honestly, I assure you it truly doesn't matter
            at this time, but I assure you it will.
            Eventually. And we are dying to share with you everything we have
            learned and all we have witnessed with you and everybody else who will
            give us the time. All in time, when time is due, you see. This is just the beginning of your introduction
            but others have already been introduced.
          </p>
          <br />
          <h2>Participate with <b>G# Movement</b></h2>
          <p>
            Music is a collaborative process, and little of the material used for
            <b>"We Shall Prevail"</b> would have ever been possible without the
            generous support and contributions of the many individual members of
            G# Movement, most who have been named but some who still can not. Reality
            is that every single person in G# Movement was originally a stranger
            at the some point, but they were brought together through music and through sharing and inviting
            collaboration with their music, and
            because of this, and
            in an effort of spreading positivity in the world through the making & playing of music,
            we want to give each and every one of you
            the information so you can have the same opportunities to get involved in our actual music creation
            process, as many other musicians have in the BandLab community. On BandLab you will have the
            opportunity to make music with Gadfly & G# Movement in the future. You
            can
            find a link to each artists personal BandLab profile in the <b>Connect</b> section of this
            page, and you are encouraged to explore all of their profiles to learn their individual musical styles,
            talents, and contributions. Many, if not all, of G# Movement's members know to mark their music
            forkable, and if you don't like how the song sounds then there is literally an invitation asking you to make
            it better. It's that simple.
          </p>
          <!-- <p>
            Everyone can be a member of G# Movement. All you have to do is play
            along by yourself! Do so by joining
            <a href="https://bandlab.com" style="color: red">BandLab.com</a> and
            interacting with us as we continue on our musical journey in life,
            or by creating music in your own environment and sharing it with
            others.
          </p> -->
          <!-- <a href="#portfolio" class="btn btn-primary">Our Work</a> -->
        </div>
      </div>
      <div class="col-lg-7 col-md-12">
        <div class="content">

          <br />
          <p>By far the easiest and quickest way to get invloved, and
            what is my first recommendation for anyone of any skill level who wants to
            participate in a collaborative musical creation environemnt
            is to create a
            <a href="https://bandlab.com" style="color: red">BandLab</a>
            account. Once you have your account I encourage you to start making
            posts and exploring other artists. Find the people who put out the sounds you like to hear. Once you start
            posting I can almost gaurentee you you will
            start recieving comments and feedback from the BandLab community on your musical creations. Now you can
            start making more connections and start finding artist you have good
            chemistry
            with or enjoy making music with, or don't enjoy making music with but god-damned you like the music you
            make. The opportunities are literally endless, now that BandLab is easily off the launching pad. If
            ever you happen to find yourself with writers-block, or are simply looking for things to
            do on BandLab, my next suggestion is for you to
            spend time and find posts that
            contains something you want, and <b>Fork it!</b>. Now you can take the time to create and
            publish your own
            original contributions based on that project, with access to everything that went into making the song.
            Either make it your own or develope the original idea to make it better.
            This is also a
            great way to meet new people on BandLab, because who doesn't like people liking their music by making more
            music from the music. If you are
            still
            unsure of
            how to get invloved with BandLab then I just want to assure you that you can't mess this up! Just be nice,
            because I know you're a nice person, and most people on BandLab are nice too so you have nothing to be
            scared of.
          </p>
          <br />
          <p>
            Even if you disregard all the social networking aspects of the
            <a href="https://bandlab.com" style="color: red">BandLab</a>
            community and focus just on the utility of BandLab's software and
            online services offerings you will find that by itself BandLab is very handy & useful. BandLab has created
            many
            useful tools, effects, and widgets for creating and manipulating
            audio files, all online, and all free. There are also now also paid memberships for BandLab, but those are
            mostly
            focused on providing social networking features & promotion, but if you just want to use BandLab as a
            notebook for
            all
            your
            musical projects, or need a MIDI interface it is still very convenient. The Fx and sound plugins are always
            expanding
            and at this point in time are adequate to take on advanced & large-scale
            projects using only BandLab's software, if you wanted to. BandLab might
            not be winning any sprints in its race to control the music indutry,
            but with some major splashes such as buying the magazine
            Rolling Stones, a steady increase in their users numbers, and the continued advancement
            of its software, I believe BandLab has found itself in a position
            where it can be an effective player in the competitive
            musical industry. Almost a house-hold name amongst musicians, but not
            quite. I think they will be one day.
          </p>
          <p>
            If you don't want to join
            <a href="https://bandlab.com" style="color: red">BandLab</a>, or can't for some reason,
            there are still
            other ways for you to participate with G# Movement. All G# Movement
            songs are declared open-source, meaning by us we will not pursue any infrindgement
            actions if you use them in almost any way to either use or create something new from. We literally just want
            to spread our music
            & encourage positivity throughm playing and making music with friends. Pursuing music, creatively,
            is a positive, and
            productfull way to spend your time with many benefits, and it's not a hard thing to do for people of all
            music skill levels. Here are a few little things you can do to use music and creativity to feel good and
            make the world better.
          </p>
          <ul>
            <li>Learn a song, but change it to make it your own</li>
            <li>Get feedback on a song you've been working on</li>
            <li>Sing loud like no one's listening, even if they are</li>
            <li>Write a poem, or a letter, just write something</li>
            <li>Try and freestyle until you mess up</li>
            <li>Play instruments with a friend</li>
          </ul>
          <br />
          <p>
            Gadfly & G# Movement stand for poeple of all race, ethnicity, orientation, gender, religion, and beliefs and
            for an all-inclusive
            society where no one feels alone or is forced to be uncomfortable in their own skin. No one can help how or
            where they were born, or what flag it was under to what religion, and should not be treated unjustly or
            poorly because
            of it. We
            believe everyone
            deserves the right to feel confident in who they are as they want to themselves to be, whoever that may be,
            and while we understand
            that this is not
            how the world actually works today, we do believe that this way is possible, and one day will come.
            We have learned that sometimes just
            talking to someone can the most
            important thing you can do for them; or sometimes it's performing
            your new screamo soon-to-be hit song at the top of your lungs untill you can't
            scream no more. In all honesty who is anyone to truly know which way was the right way, but we do know that
            everyone has the
            potential
            to at least try and do the right thing, and that is all we ask.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>