<!-- @format -->

<section class="who-we-are ptb-100 bg-image">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-12">
        <div class="section-title">
          <span>What is the Movement?</span>
          <h2>
            <b>G<sub>#</sub> is the very last note of the chromatic scale</b>, but it
            is also the first note because its nature of being an
            A<sub>b</sub> as well. Because of this G# Movement has come to understand this to be
            <b>the movement of the overturning of time</b>, which is a never-ending process.
          </h2>
          <p>
            Once in a generation the stars align at just the right time, possibly through
            mythical forces still yet unrevealed to man, and there will be a chance of a
            brief moment in time where an oppurtunity for an event of pure
            creation can occur; a moment when something that up until then
            had never existed in space, time, or possibly even
            thought suddenly did exist. You never know what you are going to
            get in these rare moments, for they are not yet clearly understood, but it could be something good, or it
            possibly could be something bad. Something really bad. But no matter
            what it ends up being it is always truly something miraculous, for
            its existence is only because of a true miracle. I
            believe we have come across, passed, and are living in one such of a moment like this in time, and
            what Gadfly & G# Movement have created is
            something that is simply too grande not to share with
            everyone that will have it. What I speak of, of course, is the musical production of the
            indie folk-rock album
            <b>We Shall Prevail</b>
            by <b>Gadfly & G# Movement</b>. I hope you've been paying atlest that much attention thus far.
          </p>

          <p>
            So who are these people, Gadfly & G# Movement, one of whom seems to go around calling
            themselves after some sort of house fly? Honestly, I assure you it truly doesn't matter
            at this time, but I assure you it will.
            Eventually. And we are dying to share with you everything we have
            learned and all we have witnessed with you and everybody else who will
            give us the time. All in time, when time is due, you see. This is just the beginning of your introduction
            but others have already been introduced.
          </p>
          <!-- <p>
            Everyone can be a member of G# Movement. All you have to do is play
            along by yourself! Do so by joining
            <a href="https://bandlab.com" style="color: red">BandLab.com</a> and
            interacting with us as we continue on our musical journey in life,
            or by creating music in your own environment and sharing it with
            others.
          </p> -->
          <!-- <a href="#portfolio" class="btn btn-primary">Our Work</a> -->
        </div>
      </div>
      <div class="col-lg-7 col-md-12">
        <div class="content">
          <h2>Participate with <b>G# Movement</b></h2>
          <p>
            Music is a collaborative process, and none of the material used for
            <b>"We Shall Prevail"</b> would have ever been possible without the
            generous support and contributions of the many individual members of
            G# Movement, most who have been named but some who can not. Reality
            is that every single person in G# Movement was originally a stranger
            to each other at the some point in time, and because of this and our belief
            in spreading positivity in the world through the participation in music
            collaboration we want to give each and every one of our followers
            the same opportunity to get involved in our music creation
            process, just as many other musicians have had. Yes, you can, and will, have the actual
            same opportunity to collaborate with Gadfly & G# Movement in their
            music making process as they continue their musical journey
            through life. The easiest way to get involved in the process, and
            what is by far my first recommendation for anyone who wants to
            participate in the collective collaborative musical creation process
            is to either have or create an online
            <a href="https://bandlab.com" style="color: red">BandLab</a>
            account. Once you have your account I encourage you to start making
            new posts where you perform some type of music creation for you and
            your fellow BandLab peers. Once you start making posts I can almost gaurentee you will
            start recieving comments and feedback from the BandLab community. Now you can start making
            new musical connections, additionally what you can do off BandLab if you are truly serious about this. If
            ever you happen to have writers-block or are simply looking for things to
            do in the BandLab community my next suggestion is for you to
            spend a little time and find a post by a BandLab peer that preferably
            contains some music that you want to be a part of, you can
            even pick an eligible post at random if you like, but you must fork
            it, and then you must take the time to create and publish your own
            original contributions to that project. After you have made
            contributions in BandLab to the collective musical creation process
            you will almost certainly have posted some original musical content
            that likely will generate some positive feedback on BandLab. If you still are unsure of
            how to get invloved with BandLab the I just want to assure you that you can't mess this up! Just starting
            going & doing.
          </p>
          <br />
          <p>
            Even if you disregard the social aspects of the
            <a href="https://bandlab.com" style="color: red">BandLab</a>
            application and focus solely on BandLabs technical software and
            online services offerings, you will find that by itself BandLab has
            created many useful tools and widgets for creating and manipulating
            audio files. Much of the software BandLab provides of service you
            can get access to for absolutely free through the library, but I
            there are now also paid memberships for BandLab, which I believe are
            mostly focused on providing features of networking, promoting, and
            expanding oneself, but just using BandLab as a notebook for all your
            musical projects is mighty convenient. The software provided for
            MIDI manipulation and the Fx and sounds plugins are always expanding
            and at this point in time are adequate to take on some large-scale
            projects using completely only BandLabs interfaces. BandLab might
            not be winning any sprints in its race to control the music indutry,
            but with some major current splashes such as buying the magazine
            Rolling Stones, increased membership, and the continued advancement
            of their software platform, BandLab has found itself in a position
            where it slowly becoming an effective player in the competitive
            musical industry arena that is successeptable to large biases that
            can drive smaller and medium sized companies out of business
            overnight. I've Been using BandLab since 2016 and depend on them to
            not have to spend hours of my time scraping the dozens of hours of
            many various versions of many multiple projects going back nearly
            half a decade that I have kept in BandLab safely and securely. I
            100% do not work for BandLab, but with a few growing pains, have
            come to appreciate and respect their evolving software package.
          </p>
          <p>
            If you don't want to join
            <a href="https://bandlab.com" style="color: red">BandLab.com</a>,
            you know because all it takes is an email address, there are endless
            other ways for you to participate in G# Movement. All G# Movement
            songs are open-source, meaning we will not pursue any infrindgement
            actions if you use them in almost any way to create your own music
            to express yourself. We want to spread the magic of music as far and
            wide as we can. Here are some ways you can let music into your life
            and experience the joy of songwriting and performance.
          </p>
          <ul>
            <li>Take a song and make it your own</li>
            <li>Share a song you've been working on</li>
            <li>Sing like no one's listening</li>
            <li>Write a poem</li>
            <li>Try and freestyle for as long as you can</li>
            <li>Play an instrument with someone else</li>
          </ul>
          <br />
          <p>
            Please note that Gadfly & G# Movement stand for everyone and for an all-inclusive
            society where no one is alone, or is uncomfortable in their own skin. We believe everyone
            deserves to feel confident in who they are, but we understand this is not how the world actual works.
            We would like to point out sometimes just
            talking to someone can the most
            important thing you can do for them; sometimes it's playing
            them your screamo-deathmetal song at the top of your lungs untill you can't
            scream no more. Who is anyone to truly know what's the right way, but we do know that everyone has the
            potential
            to attempt and make their community a better place, and that is all we ask.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>