<!-- @format -->

<section class="who-we-are ptb-100 bg-image">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-12">
        <div class="section-title">
          <span>Come Join Us | Who are we</span>
          <h2>
            G<sub>#</sub> is the last note of a chromatic scale, but it is also
            the first note of the scale as an A<sub>b</sub>. So G# Movement is
            for <b>the movement of the overturning of time.</b>
          </h2>
          <p>
            Everyone can be a member of G# Movement. All you have to do is play
            along by yourself! Do so by joining
            <a href="https://bandlab.com" style="color: red">BandLab.com</a> and
            interacting with us as we continue on our musical journey in life,
            or by creating music in your own environment and sharing it with
            others.
          </p>
          <!-- <a href="#portfolio" class="btn btn-primary">Our Work</a> -->
        </div>
      </div>
      <div class="col-lg-7 col-md-12">
        <div class="content">
          <p>
            If you don't want to join
            <a href="https://bandlab.com" style="color: red">BandLab.com</a>,
            you know because all it takes is an email address, there are endless
            other ways for you to participate in G# Movement. All Songs are
            open-source, meaning we will not pursue any infrindgement actions if
            you use them in almost any way to create your own music to express
            yourself. We want to spread the magic of music as far and wide as we
            can. Here are some ways you can let music into your life and
            experience the joy of songwriting and performance.
          </p>
          <ul>
            <li>Fork a song and make it your own</li>
            <li>Share a project you've been working on</li>
            <li>Sing like no one's listening</li>
            <li>Write a poem</li>
            <li>Try and freestyle for as long as you can</li>
            <li>Play an instrument with someone else</li>
          </ul>
          <br />
          <p>
            Gadfly & G# Movement stands for everyone and for an all inclusive
            society where no one feels left out or alone. Sometimes just talking
            to someone kindly is the most important thing you can do; sometimes
            it's playing screamo-deathmetal songs till you can't scream no more.
            Who are we to decide.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
