<section id="team" class="team-area ptb-100 bg-image">
    <div class="container">
        <div class="section-title">
            <span>Join The Movement</span>
            <h2>Connect with <b>G# Movement</b></h2>
            <p>Connect, Follow, and DM your favorite G# Movement band-mates in real life. Feedback is always appreciated
                and welcomed
                by
                the group.
                While many of the members work regularly to support their
                music hobby, and can therefor lead a fairly busy lifestyle, feel free take your chances in trying to
                connect with a member, or
                possibly just send
                a one-way unique heartfelt message of what this music has meant and fealt to you and possibly make a G#
                Movement members day. While any
                feedback is always
                appreciated, we put an emphasis on constructive support, feedback, and criticism. </p>
        </div>
        <div class="team-slides owl-carousel owl-theme">
            <div class="team-box">
                <img src="assets/img/work-img1.jpg" alt="team-image">
                <div class="box-content">
                    <div class="box-inner-content">
                        <h3 class="title">Thiago Alves</h3>
                        <span class="post">Drummer</span>
                        <ul>
                            <li><a href="https://www.bandlab.com/thiagoalves" target="_blank"><img
                                        src="assets/img/bandlabicon.png" alt="BandLab"
                                        title="Thiago Alves's BandLab Profile" style="width:15px; height: 15px;" /></a>
                            </li>
                            <!-- <li><a href="#" target="_blank"><i class="icofont-facebook"></i></a></li> -->
                            <!-- <li><a href="#" target="_blank"><i class="icofont-linkedin"></i></a></li> -->
                            <!-- <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li> -->
                            <!-- <li><a href="#" target="_blank"><i class="icofont-instagram"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="team-box">
                <img src="assets/img/work-img2.jpg" alt="team-image">
                <div class="box-content">
                    <div class="box-inner-content">
                        <h3 class="title">Doug Cowan</h3>
                        <span class="post">Harmonica/Songwriter</span>
                        <ul>
                            <li><a href="https://www.bandlab.com/oldharp" target="_blank"><img
                                        src="assets/img/bandlabicon.png" alt="BandLab"
                                        title="Doug Cowans's BandLab Profile" style="width:15px; height: 15px;" /></a>
                            </li>
                            <li><a href="https://www.facebook.com/april.cowan.7" target="_blank"><i
                                        class="icofont-facebook"></i></a></li>
                            <!-- <li><a href="#" target="_blank"><i class="icofont-linkedin"></i></a></li> -->
                            <!-- <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li> -->
                            <!-- <li><a href="#" target="_blank"><i class="icofont-instagram"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="team-box">
                <img src="assets/img/work-img3.jpg" alt="team-image">
                <div class="box-content">
                    <div class="box-inner-content">
                        <h3 class="title">Domenick DeGeorge</h3>
                        <span class="post">Keys/Engineer</span>
                        <ul>
                            <li><a href="https://www.bandlab.com/endofempires" target="_blank"><img
                                        src="assets/img/bandlabicon.png" alt="BandLab"
                                        title="Domenick DeGeorge's BandLab Profile"
                                        style="width:15px; height: 15px;" /></a>
                            </li>
                            <li><a href="https://www.facebook.com/domenick.degeorge" target="_blank"><i
                                        class="icofont-facebook"></i></a></li>
                            <!-- <li><a href="#" target="_blank"><i class="icofont-linkedin"></i></a></li> -->
                            <!-- <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li> -->
                            <li><a href="https://www.instagram.com/domenickdegeorge/" target="_blank"><i
                                        class="icofont-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="team-box">
                <img src="assets/img/work-img4.jpg" alt="team-image">
                <div class="box-content">
                    <div class="box-inner-content">
                        <h3 class="title">Zach DeGeorge aka Gadfly</h3>
                        <span class="post">Rhythmic Guitar</span>
                        <ul>
                            <li><a href="https://www.bandlab.com/gadfly" target="_blank"><img
                                        src="assets/img/bandlabicon.png" alt="BandLab"
                                        title="Zach DeGeorge aka Gadfly's BandLab Profile"
                                        style="width:15px; height: 15px;" /></a>
                            </li>
                            <li><a href="https://www.facebook.com/zachary.degeorge" target="_blank"><i
                                        class="icofont-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/zachdegeorge/" target="_blank"><i
                                        class="icofont-linkedin"></i></a></li>
                            <li><a href="https://twitter.com/as3ics" target="_blank"><i class="icofont-twitter"></i></a>
                            </li>
                            <li><a href="https://www.instagram.com/degeorgezm/" target="_blank"><i
                                        class="icofont-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="team-box">
                <img src="assets/img/work-img5.jpg" alt="team-image">
                <div class="box-content">
                    <div class="box-inner-content">
                        <h3 class="title">Chase Holton</h3>
                        <span class="post">Guitarist/Songwriter</span>
                        <ul>
                            <li><a href="https://www.bandlab.com/chaseholton" target="_blank"><img
                                        src="assets/img/bandlabicon.png" alt="BandLab"
                                        title="Chase Holton's BandLab Profile" style="width:15px; height: 15px;" /></a>
                            </li>
                            <li><a href="https://www.facebook.com/chase.holton.5" target="_blank"><i
                                        class="icofont-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/chaseholton/" target="_blank"><i
                                        class="icofont-linkedin"></i></a></li>
                            <!-- <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li> -->
                            <li><a href="https://www.instagram.com/calamityholton/" target="_blank"><i
                                        class="icofont-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="team-box">
                <img src="assets/img/work-img6.jpg" alt="team-image">
                <div class="box-content">
                    <div class="box-inner-content">
                        <h3 class="title">Timmy Jay</h3>
                        <span class="post">Vocalist</span>
                        <ul>
                            <!-- <li><a href="#" target="_blank"><img src="assets/img/bandlabicon.png" alt="BandLab"
                                        title="Eli Mwalimu's BandLab Profile" style="width:15px; height: 15px;" /></a>
                            </li>
                            <li><a href="#" target="_blank"><i class="icofont-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="icofont-linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="icofont-instagram"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="team-box">
                <img src="assets/img/work-img7.jpg" alt="team-image">
                <div class="box-content">
                    <div class="box-inner-content">
                        <h3 class="title">Samuel P Lauzon</h3>
                        <span class="post">Guitarist/Vocalist/Drums</span>
                        <ul>
                            <li><a href="#" target="_blank"><img src="assets/img/bandlabicon.png" alt="BandLab"
                                        title="Eli Mwalimu's BandLab Profile" style="width:15px; height: 15px;" /></a>
                            </li>
                            <li><a href="https://www.facebook.com/samuelplauzon" target="_blank"><i
                                        class="icofont-facebook"></i></a></li>
                            <!-- <li><a href="#" target="_blank"><i class="icofont-linkedin"></i></a></li> -->
                            <!-- <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li> -->
                            <li><a href="https://www.instagram.com/samuel_playzon/" target="_blank"><i
                                        class="icofont-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="team-box">
                <img src="assets/img/work-img8.jpg" alt="team-image">
                <div class="box-content">
                    <div class="box-inner-content">
                        <h3 class="title">Matt Mooney</h3>
                        <span class="post">Guitarist/Songwriter</span>
                        <ul>
                            <li><a href="#" target="_blank"><img src="assets/img/bandlabicon.png" alt="BandLab"
                                        title="Eli Mwalimu's BandLab Profile" style="width:15px; height: 15px;" /></a>
                            </li>
                            <li><a href="https://www.facebook.com/matt.mooney.946" target="_blank"><i
                                        class="icofont-facebook"></i></a></li>
                            <!-- <li><a href="#" target="_blank"><i class="icofont-linkedin"></i></a></li> -->
                            <!-- <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li> -->
                            <!-- <li><a href="#" target="_blank"><i class="icofont-instagram"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="team-box">
                <img src="assets/img/work-img9.jpg" alt="team-image">
                <div class="box-content">
                    <div class="box-inner-content">
                        <h3 class="title">Eli Mwalimu</h3>
                        <span class="post">Vocalist</span>
                        <ul>
                            <li><a href="#" target="_blank"><img src="assets/img/bandlabicon.png" alt="BandLab"
                                        title="Eli Mwalimu's BandLab Profile" style="width:15px; height: 15px;" /></a>
                            </li>
                            <!-- <li><a href="#" target="_blank"><i class="icofont-facebook"></i></a></li> -->
                            <!-- <li><a href="#" target="_blank"><i class="icofont-linkedin"></i></a></li> -->
                            <!-- <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li> -->
                            <!-- <li><a href="#" target="_blank"><i class="icofont-instagram"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="team-box">
                <img src="assets/img/work-img10.jpg" alt="team-image">
                <div class="box-content">
                    <div class="box-inner-content">
                        <h3 class="title">The Usual Stoopkid</h3>
                        <span class="post">Vocalist</span>
                        <ul>
                            <li><a href="#" target="_blank"><img src="assets/img/bandlabicon.png" alt="BandLab"
                                        title="Eli Mwalimu's BandLab Profile" style="width:15px; height: 15px;" /></a>
                            </li>
                            <!-- <li><a href="#" target="_blank"><i class="icofont-facebook"></i></a></li> -->
                            <!-- <li><a href="#" target="_blank"><i class="icofont-linkedin"></i></a></li> -->
                            <!-- <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li> -->
                            <!-- <li><a href="#" target="_blank"><i class="icofont-instagram"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="team-box">
                <img src="assets/img/work-img11.jpg" alt="team-image">
                <div class="box-content">
                    <div class="box-inner-content">
                        <h3 class="title">Tobi Wats</h3>
                        <span class="post">Songwriter/Vocalist</span>
                        <ul>
                            <li><a href="#" target="_blank"><img src="assets/img/bandlabicon.png" alt="BandLab"
                                        title="Eli Mwalimu's BandLab Profile" style="width:15px; height: 15px;" /></a>
                            </li>
                            <li><a href="https://www.facebook.com/tobi.wats" target="_blank"><i
                                        class="icofont-facebook"></i></a></li>
                            <!-- <li><a href="#" target="_blank"><i class="icofont-linkedin"></i></a></li> -->
                            <!-- <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li> -->
                            <li><a href="https://www.instagram.com/tobior_nottobi/" target="_blank"><i
                                        class="icofont-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-title" style="padding-top: 60px">
            <span></span>
            <h2>Life in a <b>Virtual Band</b> </h2>
            <p>As you may be able to tell some G# Movement members are better connected than others,
                and with some of
                musicians only the bear-minimum information is ever known in order to work together. Names are not even
                required, as is
                with the case with The
                Usual Stoopkid, who dropped a hidden gem on the group randomly with their rendition of "From Your Hand
                To Mine", and was instantly accepted into the group.
                This has not prevented G# Movement from
                collaborating, creating, and sharing our musical ideas, dreams, and passions with each other while on
                this wonderful, and sometimes stressfull, journey to creating what I percieve as a hefty handful of high
                level
                musical
                content. The
                truly awesome thing about <a href="https://bandlab.com" style="color:red">BandLab</a> is that you never
                know
                when a random musician is going to be inspired by a project and jump on it to
                make some
                mind-bending awesome contributions out of left field that turns a scratch track into a truly unique
                masterpiece, such as was the
                case with "Life is a Journey". </p>
        </div>
    </div>
</section>