<section id="team" class="team-area ptb-100 bg-image">
    <div class="container">
        <div class="section-title">
            <span>Connect With G# Movement</span>
            <h2>Interact With Our <b>Creative Movement</b></h2>
            <p>Connect, Follow, and DM your favorite G#'ers. Feedback is always appreciated and welcomed by G# Movement.
                While many of the G#'ers work to support their
                music hobby, and can therefor be fairly busy, take your chances trying to connect, or just send
                a heartfelt message of what this music has meant for you. Anything is appreciated. </p>
        </div>
        <div class="team-slides owl-carousel owl-theme">
            <div class="team-box">
                <img src="assets/img/work-img1.jpg" alt="team-image">
                <div class="box-content">
                    <div class="box-inner-content">
                        <h3 class="title">Thiago Alves</h3>
                        <span class="post">Drummer</span>
                        <ul>
                            <li><a href="https://www.bandlab.com/thiagoalves" target="_blank"><img
                                        src="assets/img/bandlabicon.png" alt="BandLab"
                                        title="Thiago Alves's BandLab Profile" style="width:15px; height: 15px;" /></a>
                            </li>
                            <!-- <li><a href="#" target="_blank"><i class="icofont-facebook"></i></a></li> -->
                            <!-- <li><a href="#" target="_blank"><i class="icofont-linkedin"></i></a></li> -->
                            <!-- <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li> -->
                            <!-- <li><a href="#" target="_blank"><i class="icofont-instagram"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="team-box">
                <img src="assets/img/work-img2.jpg" alt="team-image">
                <div class="box-content">
                    <div class="box-inner-content">
                        <h3 class="title">Doug Cowan</h3>
                        <span class="post">Harmonica/Songwriter</span>
                        <ul>
                            <li><a href="https://www.bandlab.com/oldharp" target="_blank"><img
                                        src="assets/img/bandlabicon.png" alt="BandLab"
                                        title="Doug Cowans's BandLab Profile" style="width:15px; height: 15px;" /></a>
                            </li>
                            <li><a href="https://www.facebook.com/april.cowan.7" target="_blank"><i
                                        class="icofont-facebook"></i></a></li>
                            <!-- <li><a href="#" target="_blank"><i class="icofont-linkedin"></i></a></li> -->
                            <!-- <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li> -->
                            <!-- <li><a href="#" target="_blank"><i class="icofont-instagram"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="team-box">
                <img src="assets/img/work-img3.jpg" alt="team-image">
                <div class="box-content">
                    <div class="box-inner-content">
                        <h3 class="title">Domenick DeGeorge</h3>
                        <span class="post">Keys/Engineer</span>
                        <ul>
                            <li><a href="https://www.bandlab.com/endofempires" target="_blank"><img
                                        src="assets/img/bandlabicon.png" alt="BandLab"
                                        title="Domenick DeGeorge's BandLab Profile"
                                        style="width:15px; height: 15px;" /></a>
                            </li>
                            <li><a href="https://www.facebook.com/domenick.degeorge" target="_blank"><i
                                        class="icofont-facebook"></i></a></li>
                            <!-- <li><a href="#" target="_blank"><i class="icofont-linkedin"></i></a></li> -->
                            <!-- <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li> -->
                            <li><a href="https://www.instagram.com/domenickdegeorge/" target="_blank"><i
                                        class="icofont-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="team-box">
                <img src="assets/img/work-img4.jpg" alt="team-image">
                <div class="box-content">
                    <div class="box-inner-content">
                        <h3 class="title">Zach DeGeorge aka Gadfly</h3>
                        <span class="post">Rhythmic Guitar</span>
                        <ul>
                            <li><a href="https://www.bandlab.com/gadfly" target="_blank"><img
                                        src="assets/img/bandlabicon.png" alt="BandLab"
                                        title="Zach DeGeorge aka Gadfly's BandLab Profile"
                                        style="width:15px; height: 15px;" /></a>
                            </li>
                            <li><a href="https://www.facebook.com/zachary.degeorge" target="_blank"><i
                                        class="icofont-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/zachdegeorge/" target="_blank"><i
                                        class="icofont-linkedin"></i></a></li>
                            <li><a href="https://twitter.com/as3ics" target="_blank"><i class="icofont-twitter"></i></a>
                            </li>
                            <li><a href="https://www.instagram.com/degeorgezm/" target="_blank"><i
                                        class="icofont-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="team-box">
                <img src="assets/img/work-img5.jpg" alt="team-image">
                <div class="box-content">
                    <div class="box-inner-content">
                        <h3 class="title">Chase Holton</h3>
                        <span class="post">Guitarist/Songwriter</span>
                        <ul>
                            <li><a href="https://www.bandlab.com/chaseholton" target="_blank"><img
                                        src="assets/img/bandlabicon.png" alt="BandLab"
                                        title="Chase Holton's BandLab Profile" style="width:15px; height: 15px;" /></a>
                            </li>
                            <li><a href="https://www.facebook.com/chase.holton.5" target="_blank"><i
                                        class="icofont-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/chaseholton/" target="_blank"><i
                                        class="icofont-linkedin"></i></a></li>
                            <!-- <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li> -->
                            <li><a href="https://www.instagram.com/calamityholton/" target="_blank"><i
                                        class="icofont-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="team-box">
                <img src="assets/img/work-img6.jpg" alt="team-image">
                <div class="box-content">
                    <div class="box-inner-content">
                        <h3 class="title">Timmy Jay</h3>
                        <span class="post">Vocalist</span>
                        <ul>
                            <!-- <li><a href="#" target="_blank"><img src="assets/img/bandlabicon.png" alt="BandLab"
                                        title="Eli Mwalimu's BandLab Profile" style="width:15px; height: 15px;" /></a>
                            </li>
                            <li><a href="#" target="_blank"><i class="icofont-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="icofont-linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="icofont-instagram"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="team-box">
                <img src="assets/img/work-img7.jpg" alt="team-image">
                <div class="box-content">
                    <div class="box-inner-content">
                        <h3 class="title">Samuel P Lauzon</h3>
                        <span class="post">Guitarist/Vocalist/Drums</span>
                        <ul>
                            <li><a href="#" target="_blank"><img src="assets/img/bandlabicon.png" alt="BandLab"
                                        title="Eli Mwalimu's BandLab Profile" style="width:15px; height: 15px;" /></a>
                            </li>
                            <li><a href="https://www.facebook.com/samuelplauzon" target="_blank"><i
                                        class="icofont-facebook"></i></a></li>
                            <!-- <li><a href="#" target="_blank"><i class="icofont-linkedin"></i></a></li> -->
                            <!-- <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li> -->
                            <li><a href="https://www.instagram.com/samuel_playzon/" target="_blank"><i
                                        class="icofont-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="team-box">
                <img src="assets/img/work-img8.jpg" alt="team-image">
                <div class="box-content">
                    <div class="box-inner-content">
                        <h3 class="title">Matt Mooney</h3>
                        <span class="post">Guitarist/Songwriter</span>
                        <ul>
                            <li><a href="#" target="_blank"><img src="assets/img/bandlabicon.png" alt="BandLab"
                                        title="Eli Mwalimu's BandLab Profile" style="width:15px; height: 15px;" /></a>
                            </li>
                            <li><a href="https://www.facebook.com/matt.mooney.946" target="_blank"><i
                                        class="icofont-facebook"></i></a></li>
                            <!-- <li><a href="#" target="_blank"><i class="icofont-linkedin"></i></a></li> -->
                            <!-- <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li> -->
                            <!-- <li><a href="#" target="_blank"><i class="icofont-instagram"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="team-box">
                <img src="assets/img/work-img9.jpg" alt="team-image">
                <div class="box-content">
                    <div class="box-inner-content">
                        <h3 class="title">Eli Mwalimu</h3>
                        <span class="post">Vocalist</span>
                        <ul>
                            <li><a href="#" target="_blank"><img src="assets/img/bandlabicon.png" alt="BandLab"
                                        title="Eli Mwalimu's BandLab Profile" style="width:15px; height: 15px;" /></a>
                            </li>
                            <!-- <li><a href="#" target="_blank"><i class="icofont-facebook"></i></a></li> -->
                            <!-- <li><a href="#" target="_blank"><i class="icofont-linkedin"></i></a></li> -->
                            <!-- <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li> -->
                            <!-- <li><a href="#" target="_blank"><i class="icofont-instagram"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="team-box">
                <img src="assets/img/work-img10.jpg" alt="team-image">
                <div class="box-content">
                    <div class="box-inner-content">
                        <h3 class="title">The Usual Stoopkid</h3>
                        <span class="post">Vocalist</span>
                        <ul>
                            <li><a href="#" target="_blank"><img src="assets/img/bandlabicon.png" alt="BandLab"
                                        title="Eli Mwalimu's BandLab Profile" style="width:15px; height: 15px;" /></a>
                            </li>
                            <!-- <li><a href="#" target="_blank"><i class="icofont-facebook"></i></a></li> -->
                            <!-- <li><a href="#" target="_blank"><i class="icofont-linkedin"></i></a></li> -->
                            <!-- <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li> -->
                            <!-- <li><a href="#" target="_blank"><i class="icofont-instagram"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="team-box">
                <img src="assets/img/work-img11.jpg" alt="team-image">
                <div class="box-content">
                    <div class="box-inner-content">
                        <h3 class="title">Tobi Wats</h3>
                        <span class="post">Songwriter/Vocalist</span>
                        <ul>
                            <li><a href="#" target="_blank"><img src="assets/img/bandlabicon.png" alt="BandLab"
                                        title="Eli Mwalimu's BandLab Profile" style="width:15px; height: 15px;" /></a>
                            </li>
                            <li><a href="https://www.facebook.com/tobi.wats" target="_blank"><i
                                        class="icofont-facebook"></i></a></li>
                            <!-- <li><a href="#" target="_blank"><i class="icofont-linkedin"></i></a></li> -->
                            <!-- <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li> -->
                            <li><a href="https://www.instagram.com/tobior_nottobi/" target="_blank"><i
                                        class="icofont-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>