<!-- @format -->

<section id="services" class="services-area ptb-100">
  <div class="container">
    <div class="section-title">
      <span>What We've Done</span>
      <h2>Songs to put on your <b>Playlist</b></h2>
      <p>
        Here are some of the songs we think you'll enjoy from the very first
        note.
      </p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <div class="services-image">
            <img src="assets/album/cover.png" alt="image" />
            <div class="icon">
              <i class="icofont-headphone-alt-3"></i>
            </div>
          </div>
          <div class="services-content">
            <h3>01. Life is a Journey</h3>
            <p>
              Samuel P Lauzon, Thiago Alves, & Gadfly introduce you to G#
              Movement with this wonderful mandolin piece mixed with a Grateful
              Dead sounding guitar overlay from Samuel.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <div class="services-image">
            <img src="assets/album/cover.png" alt="image" />
            <div class="icon">
              <i class="icofont-headphone-alt-3"></i>
            </div>
          </div>
          <div class="services-content">
            <h3>02. Crash (And Burn)</h3>
            <p>
              Samuel P Lauzon, Thiago Alves, & Gadfly team up again to lay down
              a new up-tempo rendition of a Dave Matthews classic.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <div class="services-image">
            <img src="assets/album/cover.png" alt="image" />
            <div class="icon">
              <i class="icofont-headphone-alt-3"></i>
            </div>
          </div>
          <div class="services-content">
            <h3>03. Live Love (Live)</h3>
            <p>
              This song was only ever performed live once, with Gadfly and an
              anonymous percussionist, but it was caught on tape. Not bad for
              only 15 seconds of warm-up.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <div class="services-image">
            <img src="assets/album/cover.png" alt="image" />
            <div class="icon">
              <i class="icofont-headphone-alt-3"></i>
            </div>
          </div>
          <div class="services-content">
            <h3>06. From Your Hand To Mine (Instrumental)</h3>
            <p>
              This was one of Gadfly's most inspiring peices, with multiple
              great versions from talented collaborators across BandLab. This is
              the original original version, which still can not be duplicated
              to this day.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <div class="services-image">
            <img src="assets/album/cover.png" alt="image" />
            <div class="icon">
              <i class="icofont-headphone-alt-3"></i>
            </div>
          </div>
          <div class="services-content">
            <h3>09. Every Day's Not Same</h3>
            <p>
              It still amazes me that this song blossomed from such an
              originally short and tepid base track, but this song is a gem and
              truly stands for everything I stand for. Thank you to all the
              collaborators.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <div class="services-image">
            <img src="assets/album/cover.png" alt="image" />
            <div class="icon">
              <i class="icofont-headphone-alt-3"></i>
            </div>
          </div>
          <div class="services-content">
            <h3>10. Gonna Shake</h3>
            <p>
              This easily might be the best song we have. Doug did an amazing
              original instant classic vocal rendition for this production and
              it is fire 🔥🔥🔥 !!! Please enjoy in a car with the windows down
              and the volume up, preferably on the high way.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
