<!-- @format -->

<section id="services" class="services-area ptb-100">
  <div class="container">
    <div class="section-title">
      <span>What we have</span>
      <h2>New songs for your next <b>Playlist</b></h2>
      <p>
        Here are some of our hand-picked musical creations we offer to you
      </p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <div class="services-image">
            <img src="assets/album/cover.png" alt="image" />
            <div class="icon" (click)="
                play(
                  'assets/album/01.mp3',
                  '01. Life is a Journey (feat. Thiago Alves)'
                )
              ">
              <i class="icofont-headphone-alt-3"></i>
            </div>
          </div>
          <div class="services-content">
            <h3>01. Life is a Journey (feat. Thiago Alves)</h3>
            <p>
              Samuel P Lauzon, Thiago Alves, & Gadfly come together to introduce
              the world to the truly unique sound of G# Movement with this wonderful
              short composition that combines a hasty folk Mandolin with a nasty electric guitar for a sound that is
              truly
              like no other. If we only had time to share one song that captured the essence of
              G# Movement
              this is the song we would share and
              that's
              why it's
              the first song on the album.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <div class="services-image">
            <img src="assets/album/cover.png" alt="image" />
            <div class="icon" (click)="
                play(
                  'assets/album/02.mp3',
                  '02. Crash (And Burn) [feat. Samuel P Lauzon'
                )
              ">
              <i class="icofont-headphone-alt-3"></i>
            </div>
          </div>
          <div class="services-content">
            <h3>02. Crash (And Burn) [feat Samuel P Lauzon]</h3>
            <p>
              Samuel P Lauzon ressurected this
              project from a recording dating back to 2011 that was made on an iPhone 3 to bring us a new and original
              interpretation of the classic and popular Dave Matthews Band hit-song
              "Crash Into Me". Because honestly who doesn't love that song?
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <div class="services-image">
            <img src="assets/album/cover.png" alt="image" />
            <div class="icon" (click)="play('assets/album/03.mp3', '03. Live Love (Live)')">
              <i class="icofont-headphone-alt-3"></i>
            </div>
          </div>
          <div class="services-content">
            <h3>03. Live Love (Live)</h3>
            <p style="font-size: smaller">
              Live Love (Live) is an improvosational piece
              performed & recorded live for a small audience by Gadfly with an anonymous member of G# Movement.
              This
              song has only
              ever
              been played a
              single time, was never practiced before being played, and is captured converstation between Gadfly on
              guitar and
              the anonymoud musician on drums. It can be amazing when things come together sometimes, but I am truly
              grateful
              that this one was pulled off take one & done to have the ability to be able to get it on the album. You
              can note that no
              lyrics have yet come forth for
              this track so it
              is still technically unclaimed and open for future development if the opportunity were to arise. Kinda how
              it works around here, lol.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <div class="services-image">
            <img src="assets/album/cover.png" alt="image" />
            <div class="icon" (click)="
                play(
                  'assets/album/06.mp3',
                  '06. From Your Hand To Mine (Instrumental)'
                )
              ">
              <i class="icofont-headphone-alt-3"></i>
            </div>
          </div>
          <div class="services-content">
            <h3>06. From Your Hand To Mine (Instrumental)</h3>
            <p>
              This track has easily been Gadfly's most inspirational
              idea, with the largest amount of unique collaborations from many
              great and talented vocalists & artists across BandLab. This is the
              original original version of the song from the time when the idea of the song was first recorded. This
              recording
              has
              qualities that still can't be
              replicated by Gadfly to this day. <a
                href="https://www.bandlab.com/gadfly/collections/451745be-5ff7-e611-80c3-0003ff466c19"
                target="_blank">Click Here</a>
              for
              link to a playist that has many of the other great collaborations that were generated. Some of these
              versions were
              even
              combined together to
              even more renditions, and many of the lyrics & vocals were very emotional from the performers. Fun-fact:
              This song
              is
              originally inpsired by the Explosions in the Sky song "Your Hand
              in Mine", and was made after attending
              the band live in concert in Luxembourgh City while on a Eurotrip.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <div class="services-image">
            <img src="assets/album/cover.png" alt="image" />
            <div class="icon" (click)="
                play(
                  'assets/album/09.mp3',
                  '09. Every Day\'s Not Same (feat. Tobi Wats)'
                )
              ">
              <i class="icofont-headphone-alt-3"></i>
            </div>
          </div>
          <div class="services-content">
            <h3>09. Every Day's Not Same (feat. Tobi Wats)</h3>
            <p>
              What happens when Tobi says he's going to give you an amazingly beautiful and positive original song and
              then
              Dom hears it and he's like "Hey! I'm going to take this song Tobi and go G# it to take it to the next
              level"? We
              get
              this
              ,
              "Every Days Not
              Same
              (feat. Tobi Wats)". There are even more contributors and contributions to this song that can't be named at
              this time, but
              yea, this song is good, this song is age-appropriate for all, even your youngest, and it is definitely a
              gift from the G#
              Movement gods.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <div class="services-image">
            <img src="assets/album/cover.png" alt="image" />
            <div class="icon" (click)="
                play(
                  'assets/album/10.mp3',
                  '10. Gonna Shake (feat. Doug Cowan)'
                )
              ">
              <i class="icofont-headphone-alt-3"></i>
            </div>
          </div>
          <div class="services-content">
            <h3>10. Gonna Shake (feat. Doug Cowan)</h3>
            <p>
              There's only one rule you must follow while listening to this song: You must be in a car, preferrably a
              convertable, or just roll the windows down, on the highway, driving over the speed-limit, changing
              between lanes
              like you just don't care. No, honoestly, another G# classic that could easily be the best they got. And
              while I don't encourage you to drive over the speed-limit or pass people on the right side (seriously
              America!) I hope you can
              atleast appreciate the humor after listening to the song.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>