<!-- @format -->

<section id="about" class="about-area ptb-100 bg-image">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="row about-image">
          <div class="col-6 col-lg-6 col-md-6">
            <div class="image">
              <img
                src="assets/img/about-img1.jpg"
                alt="about"
                title="Matt Mooney and Gadfly in West Virginia"
              />
            </div>
          </div>

          <div class="col-6 col-lg-6 col-md-6">
            <div class="image">
              <img
                src="assets/img/about-img2.jpg"
                alt="about"
                title="An awaiting stage in Luxembourgh, Germany for Domenick DeGeorge."
              />
            </div>
          </div>

          <div class="col-6 col-lg-6 col-md-6">
            <div class="image mt-30">
              <img
                src="assets/img/about-img3.jpg"
                alt="about"
                title="Woody Guthrie, Gadfly's largest inspiration in music and life."
              />
            </div>
          </div>

          <div class="col-6 col-lg-6 col-md-6">
            <div class="image mt-30">
              <img
                src="assets/img/about-img4.jpg"
                alt="about"
                title="Samuel P Lauzon during a concert."
              />
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="about-content">
          <span>About <b>Us</b></span>
          <h2>We are <b>G# Movement</b></h2>
          <p>
            <b>Gadfly & G# Movement</b> are a group of musicians that came
            together over the years of 2016-2017 on a musical social media
            website called
            <a href="http://bandlab.com" style="color: red">BandLab.com</a>.
            During a very short period of time, specifically in 2017, the group
            produced enough music at a high enough level that it eventual led to
            the creation of the album <b>We Shall Prevail</b>, which was
            originally published in 2019 by Gadfly as an independent album.
            Since its original publishment the album has gone through a few
            iterations, with some additions by a few members of the group, to
            get the work to the final 2022 Remaster album that contains the most
            up to date work on the project.
          </p>
          <p>G# Movement includes but is not limited to:</p>
          <ul>
            <li>Thiago Alves</li>
            <li>Doug Cowan</li>
            <li>Domenick DeGeorge</li>
            <li>Zach DeGeorge, aka Gadfly</li>
            <li>Chase Holton</li>
            <li>Timmy Jay</li>
            <li>Samuel P Lauzon</li>
            <li>Matt Mooney</li>
            <li>Eli Mwalimu</li>
            <li>The Usual Stoopkid</li>
            <li>Tobi Wats</li>
          </ul>
          <p>
            Each of the members of G# Movement brings to the album their own
            expertise and talents, as well as experiences, and there are many
            genres of music represented on the album including folk, rock, pop,
            blues, alternative, metal, and others, mixed and expressed in ways
            that are sure to provide pleasurable ear-candy to your sound
            depraved lives.
          </p>
          <!-- 
          <p>
            Many of the artists of G# Movement that have contributed to this
            album are still actively making music together as they continue
            their musical journey in life, but we have been unable to connect
            lately in G# Movement like we amazingly did in 2017 to produce the
            amount and quality of songs in this project. This is definitely due
            to some of the negative repurcusions that transpired due to a
            chronic mental illness that Gadfly (Zach DeGeorge) suffers from, and
            the fact that he has been the one spearheading efforts on this
            project until some momentum can be gained.
          </p>
           -->
        </div>
      </div>
    </div>
  </div>
</section>
