<!-- @format -->

<section id="about" class="about-area ptb-100 bg-image">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="row about-image">
          <div class="col-6 col-lg-6 col-md-6">
            <div class="image">
              <img
                src="assets/img/about-img1.jpg"
                alt="about"
                title="Matt Mooney and Gadfly during a IRL Jam Session in West Virginia"
              />
            </div>
          </div>

          <div class="col-6 col-lg-6 col-md-6">
            <div class="image">
              <img
                src="assets/img/about-img2.jpg"
                alt="about"
                title="Gadfly gets a shout-out from the DJ during the Pittsburgh Penguins Playoff Pre-Game festivities"
              />
            </div>
          </div>

          <div class="col-6 col-lg-6 col-md-6">
            <div class="image mt-30">
              <img
                src="assets/img/about-img3.jpg"
                alt="about"
                title="Domenick DeGeorge performing during a college gathering in Morgantown, WV"
              />
            </div>
          </div>

          <div class="col-6 col-lg-6 col-md-6">
            <div class="image mt-30">
              <img
                src="assets/img/about-img4.jpg"
                alt="about"
                title="Samuel P Lauzon performing live during a concert"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="about-content">
          <span><b>About Us</b></span>
          <h2>Who are <b>Gadfly & G# Movement</b></h2>
          <p>
            <b>Gadfly & G# Movement</b> are a group of talented & independant
            musicians who came together originally over a period in late 2016,
            early 2017, through a new-at-the-time musically themed social media
            application called
            <a href="http://bandlab.com" style="color: red">BandLab</a>. During
            this time many creative collaborations, many based on the original
            compositions of Gadfly from throughout time, were started, left, &
            completed by the various members of G# Movement. Seemingly mundane
            art was transformed by the tremendous musical talents & abilities of
            the collective G# Movement group, transforming them into legitimate
            studio quality tracks that led to the opportunity for Gadfly to
            believe that he & G# Movement had enough original material to create
            not only a brand new original album release, but enough strength of
            material to create an album that had the potential to truly become a
            cultural smash. During this time Gadfly & G# Movement found
            themselves in the middle of a creative blossom, where there was
            always new projects being started by the individuals of G# Movement,
            and collaborations were consistently being worked on & shared
            amongst the group. With an environment fueled by Gadfly's
            ever-present hypo-mania combined with the overflowing collective
            creative talents, abilities, & desires overflowing from all the
            remaining members of G# Movement, this was truly a special time that
            was filled with increased creativity & many new unique musical songs
            & ideas. The projects from this period additionally were produced at
            hightened quality levels compared to their previous productions, and
            with a the collective technical recording knowledge, skills, and
            methods shared amongst the growing members of G# Movement. Many of
            the projects worked on during this time eventually led to tracks &
            projects that ended up making the 2019 inital studio release of the
            album <b>"We Shall Prevail"</b>. This version of this album was
            intented to represent the best of the best of everything Gadfly
            possibly had to offer at that given point in time. Additional tracks
            making it to the final release of "We Shall Prevail" include a
            recording dating from as far back as 2011, which was originally
            recorded on a mobile device such as the iPhone 3, and additionally
            included a completely new original project that arose during my time
            in Escher House at the beginning of 2019. The remaining album tracks
            are completely comprised almost selectively from projects that
            originated during the notable creative collaborative period shared
            amongst the various membors of G# Movement in the memorable Summer
            of 2017.
          </p>
          <!-- <br />
          <p>
            Since its original publication the album has gone through 2
            additional releases that included some welcome, and at times some
            unwelcome modifications to the album. While one of the additional
            releases was planned and intended, one of the additional releases
            was due to the album being pulled from distribution due to the
            prolonged and often bad-timed mental-health issues of Gadfly. The
            2022 Remaster was created to resolve many, if not all, of the
            quality inconsistensies pushed to distribution during the unplanned
            emergency re-release of the original album back in 2020.
          </p>
          <p>G# Movement includes but is not limited to:</p>
          <ul>
            <li>Thiago Alves</li>
            <li>Doug Cowan</li>
            <li>Domenick DeGeorge</li>
            <li>Zach DeGeorge, aka Gadfly</li>
            <li>Chase Holton</li>
            <li>Timmy Jay</li>
            <li>Samuel P Lauzon</li>
            <li>Matt Mooney</li>
            <li>Eli Mwalimu</li>
            <li>The Usual Stoopkid</li>
            <li>Tobi Wats</li>
          </ul>
          <p>
            Each of the individual members of G# Movement brings to the mix
            their own expertise, talents, as well as past experiences, and there
            are many different genres of music represented between the artists
            on the album, including but not limited to folk, rock, pop, blues,
            alternative, metal, and others even some hip-hop, all layered
            together and uniquely-expressed in ways that are guarenteed to
            provide pleasurable ear-candy sensations to your sound depraved
            little ear-balls.
          </p> -->
          <!-- 
          <p>
            Many of the artists of G# Movement that have contributed to this
            album are still actively making music together as they continue
            their musical journey in life, but we have been unable to connect
            lately in G# Movement like we amazingly did in 2017 to produce the
            amount and quality of songs in this project. This is definitely due
            to some of the negative repurcusions that transpired due to a
            chronic mental illness that Gadfly (Zach DeGeorge) suffers from, and
            the fact that he has been the one spearheading efforts on this
            project until some momentum can be gained.
          </p>
           -->
        </div>
      </div>
    </div>
  </div>
</section>
