<!-- @format -->

<section id="about" class="about-area ptb-100 bg-image">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="row about-image">
          <div class="col-6 col-lg-6 col-md-6">
            <div class="image">
              <img src="assets/img/about-img1.jpg" alt="about"
                title="Matt Mooney and Gadfly during a IRL Jam Session in West Virginia" />
            </div>
          </div>

          <div class="col-6 col-lg-6 col-md-6">
            <div class="image">
              <img src="assets/img/about-img2.jpg" alt="about"
                title="Gadfly gets a shout-out from the DJ during the Pittsburgh Penguins Playoff Pre-Game festivities" />
            </div>
          </div>

          <div class="col-6 col-lg-6 col-md-6">
            <div class="image mt-30">
              <img src="assets/img/about-img3.jpg" alt="about"
                title="Domenick DeGeorge performing during a college gathering in Morgantown, WV" />
            </div>
          </div>

          <div class="col-6 col-lg-6 col-md-6">
            <div class="image mt-30">
              <img src="assets/img/about-img4.jpg" alt="about"
                title="Samuel P Lauzon performing live during a concert" />
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="about-content">
          <span>About <b>Us</b></span>
          <h2>Who is <b>Gadfly & G# Movement</b></h2>
          <p>
            <b>Gadfly & G# Movement</b> are a group of talented musicians who came
            together originally over the years of 2016-2017 through a musically themed social media
            application called
            <a href="http://bandlab.com" style="color: red">BandLab</a>.
            Soon there-after, during a relatively brief period of time centered in mid-2017, the group
            found themselves producing multiple various musical projects in a truly rapid succession, many of which
            happened to be at a
            truly high

            level of musical quality, and where many of the recordings from this time became the origins for
            the idea of the 2019 album
            <b>"We Shall
              Prevail"</b>. The album was
            originally published in late 2019 by Gadfly and was intented to be a project that represented the best of
            the best of what
            Gadfly had
            to
            musically offer the world, and the album sourced from an inclusive review of every recording Gadfly could
            get his hands on from every period of his musical career. There included in the album was a track from 2011,
            originally recorded on an iPhone 3, as well as a completely new original project, while most of the other
            tracks
            for the record coming from G# Movement during the high creativity period in 2017.
          </p>
          <br />
          <p>Since its original publication the album has gone through 2
            additional releases that included some welcome, and at times some unwelcome modifications to the album.
            While one of the additional releases was planned and intended, one of the additional releases was due to the
            album being pulled from distribution due to the prolonged and often bad-timed mental-health issues of
            Gadfly. The 2022 Remaster was created to resolve many, if not all, of the quality inconsistensies pushed to
            distribution during the unplanned emergency re-release of the original album back in 2020.
          </p>
          <p>G# Movement includes but is not limited to:</p>
          <ul>
            <li>Thiago Alves</li>
            <li>Doug Cowan</li>
            <li>Domenick DeGeorge</li>
            <li>Zach DeGeorge, aka Gadfly</li>
            <li>Chase Holton</li>
            <li>Timmy Jay</li>
            <li>Samuel P Lauzon</li>
            <li>Matt Mooney</li>
            <li>Eli Mwalimu</li>
            <li>The Usual Stoopkid</li>
            <li>Tobi Wats</li>
          </ul>
          <p>
            Each of the individual members of G# Movement brings to the mix their own
            expertise, talents, as well as past experiences, and there are many
            different genres of music represented between the artists on the album, including but not limited to folk,
            rock, pop,
            blues, alternative, metal, and others even some hip-hop, all layered together and uniquely-expressed in
            ways
            that are guarenteed to provide pleasurable ear-candy sensations to your sound
            depraved little ear-balls.
          </p>
          <!-- 
          <p>
            Many of the artists of G# Movement that have contributed to this
            album are still actively making music together as they continue
            their musical journey in life, but we have been unable to connect
            lately in G# Movement like we amazingly did in 2017 to produce the
            amount and quality of songs in this project. This is definitely due
            to some of the negative repurcusions that transpired due to a
            chronic mental illness that Gadfly (Zach DeGeorge) suffers from, and
            the fact that he has been the one spearheading efforts on this
            project until some momentum can be gained.
          </p>
           -->
        </div>
      </div>
    </div>
  </div>
</section>