<!-- @format -->

<section class="why-we-different ptb-100 bg-image">
  <div class="container">
    <div class="section-title">
      <span>Creatively Unique Resolutions</span>
      <h2><b>G# Movement</b> is different from the other bands your familiar with</h2>
      <p>
        G# Movement wants to make a difference in the world through music, and because of
        this Gadfly & G# Movement are giving away a free version of their latest
        album even while it is still available on all major streaming
        subscription service providers, iTunes, and Amazon. We truly believe in the appeal of our music and the content
        of our message, which is positive, uplifting, and marketable to every age-group. So we are giving away our music
        to try and get some momentum of people to listen to it knowing that the paying streams will hopefully soon
        follow. But no take-backs!
      </p>
    </div>
    <div class="tab">
      <ul class="tabs">
        <li><a href="#"> Add to Your Library </a></li>
        <li><a href="#"> Burn to a Disk </a></li>
        <li><a href="#"> Share With Your Friends </a></li>
        <li><a href="#"> Create Music</a></li>
      </ul>
      <div class="tab_content">
        <div class="tabs_item">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 why-we-different-content">
              <div class="tabs_item_content">
                <h3>Add to Your Library</h3>
                <p>
                  Get your free download of We Shall Prevail and add the album
                  to your personal library to keep forever. Please note that
                  higher quality versions of the songs may be available on a
                  streaming service depending on your plan and coverage.
                </p>
                <ul>
                  <li>100% Free</li>
                  <li>No Sign-Up Required</li>
                  <li>No Stupid Gimmicks</li>
                  <li>Full Album w/ License</li>
                  <li>Just Add to your Library</li>
                  <li>Can Keep Forever</li>
                  <li>No DRM</li>
                  <li>Let the music speak!</li>
                </ul>
                <a href="assets/album/we_shall_prevail.zip" class="btn btn-primary">Download Album</a>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 why-we-different-img">
              <div class="tabs_item_img">
                <img src="assets/img/coverslip.jpg" alt="img" />
              </div>
            </div>
          </div>
        </div>
        <div class="tabs_item">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 why-we-different-img">
              <div class="tabs_item_img">
                <img src="assets/img/coverslip.jpg" alt="img" />
              </div>
            </div>
            <div class="col-lg-6 col-md-12 why-we-different-content">
              <div class="tabs_item_content">
                <h3>Burn to a Disk</h3>
                <p>
                  When we say we are giving you our album we mean we are giving
                  you our album. Take, burn it, scratch it, burn it again, just
                  for please sakes listen to it.
                </p>
                <ul>
                  <li>Add to iPhone</li>
                  <li>Add to Android</li>
                  <li>Add to Computer</li>
                  <li>Burn to disk</li>
                  <li>Burn to another disk</li>
                  <li>Burn as many disks as you like</li>
                  <li>The album is yours</li>
                  <li>For now and forever</li>
                </ul>
                <a href="assets/album/we_shall_prevail.zip" class="btn btn-primary">Download Album</a>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs_item">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 why-we-different-content">
              <div class="tabs_item_content">
                <h3>Share With Your Friends</h3>
                <p>
                  Each copy of the album you download comes with a completely
                  open-source license so that you are able to use and reuse the
                  content in the album at your pleasure. Want to share a song
                  with a friend? Send him a link or send him a copy of the file.
                  We don't care.
                </p>
                <ul>
                  <li>MIT Open-Source License</li>
                  <li>Share with Friends</li>
                  <li>Send a link</li>
                  <li>Send a file</li>
                  <li>It doesn't matter how you share it</li>
                  <li>The files are yours</li>
                  <li>Do with as you please</li>
                  <li>Links to stems to follow</li>
                </ul>
                <a href="assets/album/we_shall_prevail.zip" class="btn btn-primary">Download Album</a>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 why-we-different-img">
              <div class="tabs_item_img">
                <img src="assets/img/coverslip.jpg" alt="img" />
              </div>
            </div>
          </div>
        </div>
        <div class="tabs_item">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 why-we-different-img">
              <div class="tabs_item_img">
                <img src="assets/img/coverslip.jpg" alt="img" />
              </div>
            </div>
            <div class="col-lg-6 col-md-12 why-we-different-content">
              <div class="tabs_item_content">
                <h3>Create Music</h3>
                <p>
                  With G# Movement the music is never truly over. Please feel
                  free to take the music that we have made so far and add to it
                  yourself; make it your own. You are then free to do whatever
                  you want with the work product from our work. We want to
                  spread the music. More details to come in the near future!
                </p>
                <ul>
                  <li>Add your own Creativity</li>
                  <li>Spread the Music</li>
                  <li>Distribute work products freely</li>
                  <li>Create something new</li>
                  <li>Make something better</li>
                  <li>Learn something new</li>
                  <li>Put on an open-mic</li>
                  <li>We Shall Prevail!!</li>
                </ul>
                <a href="assets/album/we_shall_prevail.zip" class="btn btn-primary">Download Album</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>