<!-- @format -->

<section class="why-we-different ptb-100 bg-image">
  <div class="container">
    <div class="section-title">
      <span>Musical Pioneers</span>
      <h2><b>G# Movement</b> is not a typical band.</h2>
      <p>
        G# Movement is not your typical band. We don't have practices where band mates do whatever it is that proper
        musicians do during proper musical practices. We can't have normal practices because our members are spread
        across
        the
        lower continental United States. If there aren't any practices, then you probably have come to the
        conclusing
        that is the peripheral elephant in the room, so-to-speak, which is if we can't have live practices then can we
        have
        real live concerts. Unfortunately this is a limitation that G# Movement has yet to be able to overcome. Due to
        the nature of the music G# Movement creates one may
        ask if you can have a real band if that band
        can't have a real
        concert? This question has yet to be resolved for G# Movement. While we truly wish we could bring live
        renditions of our musical creations to a live audience, not only to grow our presence, but also to
        improve our live performance skills, the hurdle of live performances is one that G# Movement has yet to be
        overcome. This is the scene that G#
        Movement faces at every turn, and the group is actively trying to learn how
        to navigate in the current musical environment with these hefty restrictions. One may ask can a band truly exist
        entirely in
        the virtual
        realm. Will the music a virtual band makes be considered <i>valid</i> to the general musical community if it
        can't be performed. Gadfly &
        G# Movement
        wants to try and find a
        way to if not thrive, at least coexist in this competitive musical environment, and we are always open to
        ideas
        that will allow us to offer a more
        traditional musical
        experience to our supporters and fans. Additionally Gadfly & G# Movement are always looking and open to new and
        creative
        techniques to break the
        trend of what is expected between the relationship of bandmates & their followers, as well as to create new &
        unique
        technological ideas & opportunities that directly impact our collective future while actively transforming how
        everyday people
        interact with the technology & music in their everyday lives.
      </p>
      <br />
      <p>
        G# Movement strives to make what difference it can in the world
        by directly contributing and encouraging the expansion of collaborative music endeavors for musicians of all
        ages & skill levels,
        and so Gadfly & G# Movement have made the decision to distribute their music & sound by giving away their latest
        studio
        album for free, by providing controlled & legitimate access to source files used during the production process,
        in not just an effort to spread the prescence & message of Gadfly & G# Movement's music & philosophy, but also
        to encourage as many other
        professional and amatuer musicians & producers of all levels to expose & share their active
        musical projects &
        endevors to musicians of all
        ages & talent levels by
        licensing and
        open-sourcing
        not only
        their completed work products, but also by exposing their unfinished & ongoing work-in-progress creative
        projets to not just
        professional, but also unprofessional collaborators to provide actual material & opportunity to eager
        musicians of any level who will gain access to multiple advanced musical projects & assignments in a eyes-on,
        hands-on environment where active sharing of experience & knowledge
        is encouraged between all participants.
      </p>
      <br />
      <p>
        Additionally Gadfly & G# Movement is giving
        their music away in an effort to contribute in any way possible to the growth of G# Movement's general exposure
        and
        active viewership. The decision to simply give away our album was not made in haste, and not without careful
        consideration to how it might impact the group on a larger scale, but we
        in all truthfulness & honestly believe in the potential appeal of our sound
        combined with the positive and uplifting
        messages represented by our songs & lyrics, as well as the belief that our product has the ability to be
        cross-marketed to a large selection of
        diverse groups of
        potential fans & customers contained in both
        older and younger
        age-groups.
      </p>
      <br />
      <p>
        So in conclusion we
        are
        giving away
        our music
        to anyone and everyone who will take it in an effort to lift our exposure, knowing that if the album is
        to make money one day that
        that
        process will
        likely be in the future &
        follow our current situation when the time is right.
      </p>
      <br />
      <p>And just in case you were wondering about what you can do with your brand-new, shiny, still has a new-car
        smell
        musical album, here are some of the things you can do with it:
      </p>
    </div>
    <div class="tab">
      <ul class="tabs">
        <li><a href="#"> Add to Your Library </a></li>
        <li><a href="#"> Burn to a Disk </a></li>
        <li><a href="#"> Share With Your Friends </a></li>
        <li><a href="#"> Create New Music</a></li>
      </ul>
      <div class="tab_content">
        <div class="tabs_item">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 why-we-different-content">
              <div class="tabs_item_content">
                <h3>Add to your personal music library</h3>
                <p>
                  Once you get your own personal free copy of <b>"We Shall Prevail"</b> you can simply add the volume
                  to your very own personal digital music library, where you can keep it and modify it, forever and
                  ever. No give-backs. For real, we should be able to print these digital copies rather easily for the
                  forseable future without anyone trying to return the free something that was giving to them as a
                  super special, once-in-a-lifetime special gift, a gift which should always be given and never
                  returned. The idea's pretty simple, but I made some bullet-points in case you wanted a nice organized
                  list to read.
                </p>
                <ul>
                  <li>100% Free w/ no strings Attached</li>
                  <li>No Sign-Up Required</li>
                  <li>No Gimmicks</li>
                  <li>Full Album w/ MIT License</li>
                  <li>Can Simply Add to your personal digital Library</li>
                  <li>Yours to keep forever</li>
                  <li>No Digital Rights Management Software</li>
                  <li>Simply Let the music speak!</li>
                </ul>
                <!-- <a href="assets/album/we_shall_prevail.zip" class="btn btn-primary">Download Album</a> -->
              </div>
            </div>
            <div class="col-lg-6 col-md-12 why-we-different-img">
              <div class="tabs_item_img">
                <img src="assets/img/coverslip.jpg" alt="img" />
              </div>
            </div>
          </div>
        </div>
        <div class="tabs_item">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 why-we-different-img">
              <div class="tabs_item_img">
                <img src="assets/img/coverslip.jpg" alt="img" />
              </div>
            </div>
            <div class="col-lg-6 col-md-12 why-we-different-content">
              <div class="tabs_item_content">
                <h3>Burn it to a CD</h3>
                <p>
                  When we say we are giving you our album we mean we are giving
                  you the right to do whatever it is your heart truly desires with the physical or intellectual value
                  that is
                  our album. Take, burn it, scratch it, burn it again, share it, delete it, repeat it, just
                  for god's honest sakes please take the time to atleast once listen to it. And for your viewing
                  pleasure, another neatly
                  organized list.
                </p>
                <ul>
                  <li>Add it to iPhone</li>
                  <li>Add it to Android</li>
                  <li>Add it to Computer</li>
                  <li>Burn it to a disk</li>
                  <li>Burn it to another disk</li>
                  <li>Burn a copy of a disk already with it</li>
                  <li>Bury the album in your backyard for safekeeping</li>
                  <li>Send a copy of the album to the NYTimes</li>
                </ul>
                <!-- <a href="assets/album/we_shall_prevail.zip" class="btn btn-primary">Download Album</a> -->
              </div>
            </div>
          </div>
        </div>
        <div class="tabs_item">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 why-we-different-content">
              <div class="tabs_item_content">
                <h3>Share it with your friends</h3>
                <p>
                  Each copy of the album you download comes with a completely
                  open-source license so that you are able to use and reuse the
                  content in the album at your pleasure. Want to share a song
                  with a friend? Send him a link or send him a copy of the file.
                  We don't care.
                </p>
                <ul>
                  <li>MIT Open-Source License</li>
                  <li>Share with Friends</li>
                  <li>Send a link</li>
                  <li>Send a file</li>
                  <li>It doesn't matter how you share it</li>
                  <li>The files are yours</li>
                  <li>Do with as you please</li>
                  <li>Links to stems to follow</li>
                </ul>
                <!-- <a href="assets/album/we_shall_prevail.zip" class="btn btn-primary">Download Album</a> -->
              </div>
            </div>
            <div class="col-lg-6 col-md-12 why-we-different-img">
              <div class="tabs_item_img">
                <img src="assets/img/coverslip.jpg" alt="img" />
              </div>
            </div>
          </div>
        </div>
        <div class="tabs_item">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 why-we-different-img">
              <div class="tabs_item_img">
                <img src="assets/img/coverslip.jpg" alt="img" />
              </div>
            </div>
            <div class="col-lg-6 col-md-12 why-we-different-content">
              <div class="tabs_item_content">
                <h3>Create new music from our music</h3>
                <p>
                  The creative process is never over with <b>Gadfly & G# Movement</b>. You are and should feel
                  free to take any part of any song that we have distributed in our <b>Free Album Giveaway</b> and do
                  with it
                  what yourself has always truly desired to do with a digital copy of an amazing unknown indie folk-rock
                  album from the literal
                  great abyss; just whatever
                  that may be. I only ask that whatever you do you should take a
                  song that you decide and you should fork it and make it some completely new song that is in no
                  chance
                  completely
                  and utterly your own unique creation and hopefully masterpiece.
                </p>
                <br />
                <p>And once
                  you do
                  that and are sitting cozy overnight somewhere with a sensational top-100 new hit single in your back
                  pocket I am
                  here to tell you that you have the legal right to
                  distribute that
                  figurative cash cow of hit single however it is that you feel neccessary, hypothetically to produce
                  the most income for your own personal wallet. That's right! Use our shit, to make your shit, and then
                  sell it for real shit. Amazing. As a side note, I hear some bands are even giving their
                  latest music away for free on their website to try and promote their audience, as if they mattered.
                  But that sounds just too crazy to be true.
                </p>
                <!-- <ul>
                  <li>Add your own solo</li>
                  <li>Share the music</li>
                  <li>Distribute derived work-products freely</li>
                  <li>Create something anew</li>
                  <li>Make it better</li>
                  <li>Learn a new skill</li>
                  <li>Put on an open-mic, so that way you get invited to an open-mic</li>
                  <li>And always remember; We Shall Prevail!</li>
                </ul> -->
                <!-- <a href="assets/album/we_shall_prevail.zip" class="btn btn-primary">Download Album</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>