<!-- @format -->

<section class="why-we-different ptb-100 bg-image">
  <div class="container">
    <div class="section-title">
      <span>just so you know</span>
      <h2>Here are some ideas to get you started for how to use your new free album download</h2>
    </div>
    <div class="tab">
      <ul class="tabs">
        <li><a href="#"> Add to Your Library </a></li>
        <li><a href="#"> Burn to a Disk </a></li>
        <li><a href="#"> Share With Your Friends </a></li>
        <li><a href="#"> Create New Music</a></li>
      </ul>
      <div class="tab_content">
        <div class="tabs_item">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 why-we-different-content">
              <div class="tabs_item_content">
                <h3>Add to your personal music library</h3>
                <p>
                  Once you get your own personal free copy of <b>"We Shall Prevail"</b> you can simply add the volume
                  to your very own personal digital music library, where you can keep it and modify it, forever and
                  ever. No give-backs. For real, we should be able to print these digital copies rather easily for the
                  forseable future without anyone trying to return the free something that was giving to them as a
                  super special, once-in-a-lifetime special gift, a gift which should always be given and never
                  returned. The idea's pretty simple, but I made some bullet-points in case you wanted a nice organized
                  list to read.
                </p>
                <ul>
                  <li>100% Free w/ no strings Attached</li>
                  <li>No Sign-Up Required</li>
                  <li>No Gimmicks</li>
                  <li>Full Album w/ MIT License</li>
                  <li>Can Simply Add to your personal digital Library</li>
                  <li>Yours to keep forever</li>
                  <li>No Digital Rights Management Software</li>
                  <li>Simply Let the music speak!</li>
                </ul>
                <!-- <a href="assets/album/we_shall_prevail.zip" class="btn btn-primary">Download Album</a> -->
              </div>
            </div>
            <div class="col-lg-6 col-md-12 why-we-different-img">
              <div class="tabs_item_img">
                <img src="assets/img/coverslip.jpg" alt="img" />
              </div>
            </div>
          </div>
        </div>
        <div class="tabs_item">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 why-we-different-img">
              <div class="tabs_item_img">
                <img src="assets/img/coverslip.jpg" alt="img" />
              </div>
            </div>
            <div class="col-lg-6 col-md-12 why-we-different-content">
              <div class="tabs_item_content">
                <h3>Burn it to a CD</h3>
                <p>
                  When we say we are giving you our album we mean we are giving
                  you the right to do whatever it is your heart truly desires with the physical or intellectual value
                  that is
                  our album. Take, burn it, scratch it, burn it again, share it, delete it, repeat it, just
                  for god's honest sakes please take the time to atleast once listen to it. And for your viewing
                  pleasure, another neatly
                  organized list.
                </p>
                <ul>
                  <li>Add it to iPhone</li>
                  <li>Add it to Android</li>
                  <li>Add it to Computer</li>
                  <li>Burn it to a disk</li>
                  <li>Burn it to another disk</li>
                  <li>Burn a copy of a disk already with it</li>
                  <li>Bury the album in your backyard for safekeeping</li>
                  <li>Send a copy of the album to the NYTimes</li>
                </ul>
                <!-- <a href="assets/album/we_shall_prevail.zip" class="btn btn-primary">Download Album</a> -->
              </div>
            </div>
          </div>
        </div>
        <div class="tabs_item">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 why-we-different-content">
              <div class="tabs_item_content">
                <h3>Share it with your friends</h3>
                <p>
                  Each copy of the album you download comes with a completely
                  open-source license so that you are able to use and reuse the
                  content in the album at your pleasure. Want to share a song
                  with a friend? Send him a link or send him a copy of the file.
                  We don't care.
                </p>
                <ul>
                  <li>MIT Open-Source License</li>
                  <li>Share with Friends</li>
                  <li>Send a link</li>
                  <li>Send a file</li>
                  <li>It doesn't matter how you share it</li>
                  <li>The files are yours</li>
                  <li>Do with as you please</li>
                  <li>Links to stems to follow</li>
                </ul>
                <!-- <a href="assets/album/we_shall_prevail.zip" class="btn btn-primary">Download Album</a> -->
              </div>
            </div>
            <div class="col-lg-6 col-md-12 why-we-different-img">
              <div class="tabs_item_img">
                <img src="assets/img/coverslip.jpg" alt="img" />
              </div>
            </div>
          </div>
        </div>
        <div class="tabs_item">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 why-we-different-img">
              <div class="tabs_item_img">
                <img src="assets/img/coverslip.jpg" alt="img" />
              </div>
            </div>
            <div class="col-lg-6 col-md-12 why-we-different-content">
              <div class="tabs_item_content">
                <h3>Create new music from our music</h3>
                <p>
                  The creative process is never over with <b>Gadfly & G# Movement</b>. You are and should feel
                  free to take any part of any song that we have distributed in our <b>Free Album Giveaway</b> and do
                  with it
                  what yourself has always truly desired to do with a digital copy of an amazing unknown indie folk-rock
                  album from the literal
                  great abyss; just whatever
                  that may be. I only ask that whatever you do you should take a
                  song that you decide and you should fork it and make it some completely new song that is in no
                  chance
                  completely
                  and utterly your own unique creation and hopefully masterpiece.
                </p>
                <br />
                <p>And once
                  you do
                  that and are sitting cozy overnight somewhere with a sensational top-100 new hit single in your back
                  pocket I am
                  here to tell you that you have the legal right to
                  distribute that
                  figurative cash cow of hit single however it is that you feel neccessary, hypothetically to produce
                  the most income for your own personal wallet. That's right! Use our shit, to make your shit, and then
                  sell it for real shit. Amazing. As a side note, I hear some bands are even giving their
                  latest music away for free on their website to try and promote their audience, as if they mattered.
                  But that sounds just too crazy to be true.
                </p>
                <!-- <ul>
                  <li>Add your own solo</li>
                  <li>Share the music</li>
                  <li>Distribute derived work-products freely</li>
                  <li>Create something anew</li>
                  <li>Make it better</li>
                  <li>Learn a new skill</li>
                  <li>Put on an open-mic, so that way you get invited to an open-mic</li>
                  <li>And always remember; We Shall Prevail!</li>
                </ul> -->
                <!-- <a href="assets/album/we_shall_prevail.zip" class="btn btn-primary">Download Album</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>