<section class="funfacts-area ptb-100 bg-image">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="section-title">
                    <span>Let The Number Speaks</span>
                    <h2>G# Movement has proven it can <b>bring the music to the people</b> that they want to hear with
                        thousands
                        of
                        followers and <b>hundreds-of-thousands of unique listens</b> on the popular platform
                        <b><a href="https://bandlab.com" style="color: red">BandLab</a></b>.
                    </h2>
                    <p>Here are some interesting fun-facts and statistics about G# Movement
                        collected from their profiles on <a href="https://bandlab.com" style="color: red">BandLab</a> .
                    </p>
                    <a href="https://bandlab.com" target="_blank"><img src="assets/img/bandlab.png"
                            alt="BandLab.com Logo"
                            title="BandLab.com is great for collaborating musicians of every skill level."
                            style="width: 80%"></a>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="counter-wrap">
                    <div class="single-counter">
                        <h2 class="odometer" data-count="100">00</h2>
                        <h3>Hundreds of Original Projects</h3>
                        <p> G# Movement and its members have generated dozens of original songs & projects comprised
                            from
                            hundreds of
                            individual collaborative contributions</p>
                    </div>
                    <div class="single-counter">
                        <h2 class="odometer" data-count="28">00</h2>
                        <h3>Thousands of Followers</h3>
                        <p>G# Movement members have racked up over 28,000 of followers on BandLab over the years on
                            <a href="https://bandlab.com" style="color: red">BandLab</a>, with Doug Cowan pulling in the
                            most among the group with 12.9k followers.
                        </p>
                    </div>
                    <div class="single-counter">
                        <h2 class="odometer" data-count="491">00</h2>
                        <h3>Hundreds of Thousands of Listens</h3>
                        <p> G# Movement members have tallied over 491,000 individual listens. If that seems like a lot,
                            it
                            is, and
                            most of it, that is 404k of it, is from Samual P
                            Lauzon alone. But still plenty of other members have racked-up hefty collections of listens
                            over the years.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>