<section class="pt-5">
  <div class="container">
    <div class="section-title">
      <span>NFT Collection</span>
      <h2>The original mint from G# Movement's own NFT Collection.</h2>
      <p>
        Minted on the popular NFT exchange <a href="https://jpg.store" target="_blank">jpg.store</a>, we will be giving
        many of
        these away as promotional items in the coming weeks.
      </p>
    </div>
    <div class="shorting-menu">
      <button class="filter" data-filter="all">All</button>
      <button class="filter" data-filter=".art">Band Art</button>
      <button class="filter" data-filter=".musicians">Musicians</button>
      <button class="filter" data-filter=".products">Products</button>
      <button class="filter" data-filter=".photos">Photos</button>
      <button class="filter" data-filter=".performances">Performances</button>
      <button class="filter" data-filter=".misc">Miscellaneous</button>
    </div>
    <div class="shorting">
      <div class="row">
        <div class="col-lg-4 col-md-6 mix art">
          <div class="single-work">
            <a target="_blank"
              href="https://www.jpg.store/asset/a4c706163d8f8ebc90394036854db2346e4a437849f5082bb5cf86ed53796e657374686573696131">
              <div class="work-image">
                <img src="assets/nft/1.jpg"
                  alt="This is a screenshot from the app Synesthesia that was built during college and later repurposed for G# Movement." />
                <div class="work-overlay">
                  <h3>Synethesia #1</h3>
                  <span>jpg.store NFT</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix art">
          <div class="single-work">
            <a target="_blank"
              href="https://www.jpg.store/asset/a4c706163d8f8ebc90394036854db2346e4a437849f5082bb5cf86ed41766174617232">
              <div class="work-image">
                <img src="assets/nft/2.png" alt="Avatar for Gadfly & G# Movement." />
                <div class="work-overlay">
                  <h3>Avatar #2</h3>
                  <span>jpg.store NFT</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix photos misc">
          <div class="single-work">
            <a target="_blank"
              href="https://www.jpg.store/asset/a4c706163d8f8ebc90394036854db2346e4a437849f5082bb5cf86ed5765576572654865726533">
              <div class="work-image">
                <img src="assets/nft/3.jpg" alt="We were here and we marked our presence." />
                <div class="work-overlay">
                  <h3>We Were Here #3</h3>
                  <span>jpg.store NFT</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix art misc">
          <div class="single-work">
            <a target="_blank"
              href="https://www.jpg.store/asset/a4c706163d8f8ebc90394036854db2346e4a437849f5082bb5cf86ed5468654d61726b34">
              <div class="work-image">
                <img src="assets/nft/4.png" alt="This is our logo. It is called a mark." />
                <div class="work-overlay">
                  <h3>The Mark #4</h3>
                  <span>jpg.store NFT</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix products">
          <div class="single-work">
            <a target="_blank"
              href="https://www.jpg.store/asset/a4c706163d8f8ebc90394036854db2346e4a437849f5082bb5cf86ed57655368616c6c5072657661696c35">
              <div class="work-image">
                <img src="assets/nft/5.png"
                  alt="The album cover from our album 'We Shall Prevail' now on its 2022 Remaster release." />
                <div class="work-overlay">
                  <h3>We Shall Prevail #5</h3>
                  <span>jpg.store NFT</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix photos">
          <div class="single-work">
            <a target="_blank"
              href="https://www.jpg.store/asset/a4c706163d8f8ebc90394036854db2346e4a437849f5082bb5cf86ed54696d6d794a6179476164666c7936">
              <div class="work-image">
                <img src="assets/nft/6.jpg"
                  alt="Timmy Jay & Gadfly together having good times making music with G# Movement." />
                <div class="work-overlay">
                  <h3>Timmy Jay & Gadfly #6</h3>
                  <span>jpg.store NFT</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix photos">
          <div class="single-work">
            <a target="_blank"
              href="https://www.jpg.store/asset/a4c706163d8f8ebc90394036854db2346e4a437849f5082bb5cf86ed4d6174744d6f6f6e6579476164666c7937">
              <div class="work-image">
                <img src="assets/nft/7.jpg" alt="Matt Mooney & Gadfly together after meeting up for a jam session." />
                <div class="work-overlay">
                  <h3>Matt Mooney & Gadfly #7</h3>
                  <span>jpg.store NFT</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix photos">
          <div class="single-work">
            <a target="_blank"
              href="https://www.jpg.store/asset/a4c706163d8f8ebc90394036854db2346e4a437849f5082bb5cf86ed446f6d656e69636b5a616368446547656f72676538">
              <div class="work-image">
                <img src="assets/nft/8.jpg" alt="Domenick & Zach DeGeorge, who is also Gadfly, together in Germany." />
                <div class="work-overlay">
                  <h3>Domenick & Zach DeGeorge #8</h3>
                  <span>jpg.store NFT</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix musicians">
          <div class="single-work">
            <a target="_blank"
              href="https://www.jpg.store/asset/a4c706163d8f8ebc90394036854db2346e4a437849f5082bb5cf86ed4368617365486f6c746f6e39">
              <div class="work-image">
                <img src="assets/nft/9.jpg" alt="Chase Holton of the G# Movement." />
                <div class="work-overlay">
                  <h3>Chase Holton #9</h3>
                  <span>jpg.store NFT</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix musicians">
          <div class="single-work">
            <a target="_blank"
              href="https://www.jpg.store/asset/a4c706163d8f8ebc90394036854db2346e4a437849f5082bb5cf86ed54686961676f416c7665733130">
              <div class="work-image">
                <img src="assets/nft/10.jpg" alt="Thiago Alves the drum master from the G# Movement." />
                <div class="work-overlay">
                  <h3>Thiago Alves #10</h3>
                  <span>jpg.store NFT</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix musicians">
          <div class="single-work">
            <a target="_blank"
              href="https://www.jpg.store/asset/a4c706163d8f8ebc90394036854db2346e4a437849f5082bb5cf86ed446f7567436f77616e3131">
              <div class="work-image">
                <img src="assets/nft/11.jpg" alt="Doug Cowan of the G# Movement." />
                <div class="work-overlay">
                  <h3>Doug Cowan #11</h3>
                  <span>jpg.store NFT</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix musicians">
          <div class="single-work">
            <a
              href="https://www.jpg.store/asset/a4c706163d8f8ebc90394036854db2346e4a437849f5082bb5cf86ed53616d75656c504c61757a6f6e3133">
              <div class="work-image">
                <img src="assets/nft/13.jpg" alt="Samuel P Lauzon of the G# Movement." />
                <div class="work-overlay">
                  <h3>Samuel P Lauzon #13</h3>
                  <span>jpg.store NFT</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix musicians">
          <div class="single-work">
            <a target="_blank"
              href="https://www.jpg.store/asset/a4c706163d8f8ebc90394036854db2346e4a437849f5082bb5cf86ed456c694d77616c696d753132">
              <div class="work-image">
                <img src="assets/nft/12.jpg" alt="Eli Mwalimu of the G# Movement." />
                <div class="work-overlay">
                  <h3>Eli Mwalimu #12</h3>
                  <span>jpg.store NFT</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix musicians">
          <div class="single-work">
            <a
              href="https://www.jpg.store/asset/a4c706163d8f8ebc90394036854db2346e4a437849f5082bb5cf86ed546f6269576174733134">
              <div class="work-image">
                <img src="assets/nft/14.jpg" alt="Tobi Wats of the G# Movement." />
                <div class="work-overlay">
                  <h3>Tobi Wats #14</h3>
                  <span>jpg.store NFT</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix musicians">
          <div class="single-work">
            <a
              href="https://www.jpg.store/asset/a4c706163d8f8ebc90394036854db2346e4a437849f5082bb5cf86ed446f6d656e69636b446547656f7267653135">
              <div class="work-image">
                <img src="assets/nft/15.jpg" alt="Domenick DeGeorge of the G# Movement." />
                <div class="work-overlay">
                  <h3>Domenick DeGeorge #15</h3>
                  <span>jpg.store NFT</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix musicians">
          <div class="single-work">
            <a
              href="https://www.jpg.store/asset/a4c706163d8f8ebc90394036854db2346e4a437849f5082bb5cf86ed54696d6d794a61793136">
              <div class="work-image">
                <img src="assets/nft/16.jpg" alt="Timmy Jay of the G# Movement." />
                <div class="work-overlay">
                  <h3>Timmy Jay #16</h3>
                  <span>jpg.store NFT</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix musicians">
          <div class="single-work">
            <a
              href="https://www.jpg.store/asset/a4c706163d8f8ebc90394036854db2346e4a437849f5082bb5cf86ed4d6174744d6f6f6e65793137">
              <div class="work-image">
                <img src="assets/nft/17.jpg" alt="Matt Mooney of the G# Movement." />
                <div class="work-overlay">
                  <h3>Matt Mooney #17</h3>
                  <span>jpg.store NFT</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix musicians">
          <div class="single-work">
            <a
              href="https://www.jpg.store/asset/a4c706163d8f8ebc90394036854db2346e4a437849f5082bb5cf86ed546865557375616c53746f6f706b69643138">
              <div class="work-image">
                <img src="assets/nft/18.jpg" alt="The Usual Stoopkid from Gadfly & G# Movement." />
                <div class="work-overlay">
                  <h3>The Usual Stoopkid #18</h3>
                  <span>jpg.store NFT</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix musicians">
          <div class="single-work">
            <a
              href="https://www.jpg.store/asset/a4c706163d8f8ebc90394036854db2346e4a437849f5082bb5cf86ed476164666c793139">
              <div class="work-image">
                <img src="assets/nft/11.jpg" alt="Gadfly, or Zach DeGeorge, from Gadfly & G# Movement." />
                <div class="work-overlay">
                  <h3>Gadfly #19</h3>
                  <span>jpg.store NFT</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix art products">
          <div class="single-work">
            <a
              href="https://www.jpg.store/asset/a4c706163d8f8ebc90394036854db2346e4a437849f5082bb5cf86ed4c6f676f4c696768743230">
              <div class="work-image">
                <img src="assets/nft/20.png" alt="The light logo of Gadfly & G# Movement." />
                <div class="work-overlay">
                  <h3>Logo Light #20</h3>
                  <span>jpg.store NFT</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix photos">
          <div class="single-work">
            <a
              href="https://www.jpg.store/asset/a4c706163d8f8ebc90394036854db2346e4a437849f5082bb5cf86ed476164666c79444a3231">
              <div class="work-image">
                <img src="assets/nft/21.jpg"
                  alt="Gadfly having fun with the DJ at a Pittsburgh Penguins playoff hockey game." />
                <div class="work-overlay">
                  <h3>Gadfly with DJ #21</h3>
                  <span>jpg.store NFT</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix photos">
          <div class="single-work">
            <a
              href="https://www.jpg.store/asset/a4c706163d8f8ebc90394036854db2346e4a437849f5082bb5cf86ed476164666c79446f6d656e69636b3232">
              <div class="work-image">
                <img src="assets/nft/22.jpg" alt="Gadfly & Domenick DeGeorge at a castle in Heidelberg, Germany." />
                <div class="work-overlay">
                  <h3>Gadfly & Domenick #22</h3>
                  <span>jpg.store NFT</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix misc">
          <div class="single-work">
            <a
              href="https://www.jpg.store/asset/a4c706163d8f8ebc90394036854db2346e4a437849f5082bb5cf86ed476164666c79536b657463683233">
              <div class="work-image">
                <img src="assets/nft/23.jpg" alt="A pencil sketch of Gadfly." />
                <div class="work-overlay">
                  <h3>Gadfly Sketch #23</h3>
                  <span>jpg.store NFT</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix photos">
          <div class="single-work">
            <a
              href="https://www.jpg.store/asset/a4c706163d8f8ebc90394036854db2346e4a437849f5082bb5cf86ed5261696e6d616e476164666c793234">
              <div class="work-image">
                <img src="assets/nft/24.jpg" alt="Rainman & Gadfly at a playoff hockey game in Columbus, OH." />
                <div class="work-overlay">
                  <h3>Rainman & Gadfly #24</h3>
                  <span>jpg.store NFT</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix photos performances">
          <div class="single-work">
            <a
              href="https://www.jpg.store/asset/a4c706163d8f8ebc90394036854db2346e4a437849f5082bb5cf86ed446f6d656e69636b506572666f726d616e63653235">
              <div class="work-image">
                <img src="assets/nft/25.jpg" alt="A performance by Domenick DeGeorge." />
                <div class="work-overlay">
                  <h3>Domenick Performance #25</h3>
                  <span>jpg.store NFT</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix photos">
          <div class="single-work">
            <a
              href="https://www.jpg.store/asset/a4c706163d8f8ebc90394036854db2346e4a437849f5082bb5cf86ed476164666c795374726565744d757369633236">
              <div class="work-image">
                <img src="assets/nft/26.jpg" alt="Gadfly with another street musician in Ann Arbor, MI." />
                <div class="work-overlay">
                  <h3>Gadfly Street Music #26</h3>
                  <span>jpg.store NFT</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix photos performances">
          <div class="single-work">
            <a
              href="https://www.jpg.store/asset/a4c706163d8f8ebc90394036854db2346e4a437849f5082bb5cf86ed476164666c79426f6e666972653237">
              <div class="work-image">
                <img src="assets/nft/27.jpg" alt="Gadfly after giving a performance at a bonfire in Michigan." />
                <div class="work-overlay">
                  <h3>Gadfly Bonfire #27</h3>
                  <span>jpg.store NFT</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix photos">
          <div class="single-work">
            <a
              href="https://www.jpg.store/asset/a4c706163d8f8ebc90394036854db2346e4a437849f5082bb5cf86ed476164666c7953746576653238">
              <div class="work-image">
                <img src="assets/nft/28.jpg"
                  alt="Gadfly with his friend Steve while street performing in Ann Arbor, MI." />
                <div class="work-overlay">
                  <h3>Gadfly & Steve #28</h3>
                  <span>jpg.store NFT</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix art">
          <div class="single-work">
            <a href="https://www.jpg.store/asset/a4c706163d8f8ebc90394036854db2346e4a437849f5082bb5cf86ed4c6f676f3239">
              <div class="work-image">
                <img src="assets/nft/29.png" alt="The logo for Gadfly & G# Movement" />
                <div class="work-overlay">
                  <h3>Logo #29</h3>
                  <span>jpg.store NFT</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix performances">
          <div class="single-work">
            <a
              href="https://www.jpg.store/asset/a4c706163d8f8ebc90394036854db2346e4a437849f5082bb5cf86ed476164666c795265636f7264696e673330">
              <div class="work-image">
                <img src="assets/nft/30.jpg" alt="adfly while making a recording at Escher House in Ann Arbor, MI." />
                <div class="work-overlay">
                  <h3>Gadfly Recording #30</h3>
                  <span>jpg.store NFT</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>