<!-- @format -->

<section class="skill-area">
  <div class="container-fluid p-0">
    <div class="row m-0">
      <div class="col-lg-6 col-md-12 p-0">
        <div class="skill-content ptb-100">
          <div class="section-title">
            <span>Where we came from</span>
            <h2>How we were <b>made</b></h2>
            <p>
              G# Movement members were each drawn to each other simply by the motivational desires inspired simply by
              unconsious musical desires. Once
              hooked
              every member
              took their own
              initiative to make
              contributions, and after months and years of contributions a fraction of a fraction of the countless
              contributions being repeatedly made led to what eventually made <b>"We Shall Prevail"</b>. None of
              them
              knew at that time that they were working on a literal album, because none of us were wasting any of this
              time looking forward; we were experiencing some of the most creative productivity of our lives. You
              never knew when a new contribution would come in and transform a seemingly normal
              recording into a
              priceless studio gem that has a unique & captivating sound.
              The times truly were magical, and
              these are some of my greatest moments and
              experiences from all time. This is what motivates me to share my music.
            </p>
          </div>
          <div class="skills">
            <div class="skill-item">
              <div class="skill-header">
                <h3 class="skill-title">Indie</h3>
                <div class="skill-percentage">
                  <div class="count-box">
                    <span class="count-text" data-speed="2000" data-stop="100">0</span>%
                  </div>
                </div>
              </div>
              <div class="skill-bar">
                <div class="bar-inner">
                  <div class="bar progress-line" data-width="100"></div>
                </div>
              </div>
            </div>
            <div class="skill-item">
              <div class="skill-header">
                <h3 class="skill-title">Folk</h3>
                <div class="skill-percentage">
                  <div class="count-box">
                    <span class="count-text" data-speed="2000" data-stop="100">0</span>%
                  </div>
                </div>
              </div>
              <div class="skill-bar">
                <div class="bar-inner">
                  <div class="bar progress-line" data-width="100"></div>
                </div>
              </div>
            </div>
            <div class="skill-item">
              <div class="skill-header">
                <h3 class="skill-title">Rock</h3>
                <div class="skill-percentage">
                  <div class="count-box">
                    <span class="count-text" data-speed="2000" data-stop="100">0</span>%
                  </div>
                </div>
              </div>
              <div class="skill-bar">
                <div class="bar-inner">
                  <div class="bar progress-line" data-width="100"></div>
                </div>
              </div>
            </div>
            <div class="skill-item">
              <div class="skill-header">
                <h3 class="skill-title">Blues</h3>
                <div class="skill-percentage">
                  <div class="count-box">
                    <span class="count-text" data-speed="2000" data-stop="100">0</span>%
                  </div>
                </div>
              </div>
              <div class="skill-bar">
                <div class="bar-inner">
                  <div class="bar progress-line" data-width="100"></div>
                </div>
              </div>
            </div>

            <div class="skill-item">
              <div class="skill-header">
                <h3 class="skill-title">Metal</h3>
                <div class="skill-percentage">
                  <div class="count-box">
                    <span class="count-text" data-speed="2000" data-stop="100">0</span>%
                  </div>
                </div>
              </div>
              <div class="skill-bar">
                <div class="bar-inner">
                  <div class="bar progress-line" data-width="100"></div>
                </div>
              </div>
            </div>
            <div class="skill-item">
              <div class="skill-header">
                <h3 class="skill-title">Country</h3>
                <div class="skill-percentage">
                  <div class="count-box">
                    <span class="count-text" data-speed="2000" data-stop="100">0</span>%
                  </div>
                </div>
              </div>
              <div class="skill-bar">
                <div class="bar-inner">
                  <div class="bar progress-line" data-width="100"></div>
                </div>
              </div>
            </div>
            <!-- <div class="skill-item">
              <div class="skill-header">
                <h3 class="skill-title">Chance</h3>
                <div class="skill-percentage">
                  <div class="count-box">
                    <span class="count-text" data-speed="2000" data-stop="0">0</span>%
                  </div>
                </div>
              </div>
              <div class="skill-bar">
                <div class="bar-inner">
                  <div class="bar progress-line" data-width="0"></div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 p-0">
        <div class="skill-image">
          <img src="assets/img/skill-bg.png" alt="skill-image"
            title="Thiago Alves. A very, very, very talented drummer." />
        </div>
      </div>
    </div>
  </div>
</section>