<!-- @format -->

<section class="skill-area">
  <div class="container-fluid p-0">
    <div class="row m-0">
      <div class="col-lg-6 col-md-12 p-0">
        <div class="skill-content ptb-100">
          <div class="section-title">
            <span>We Are Strong</span>
            <h2>This is what we're <b>made</b> of.</h2>
            <p>
              G# Movement members were each drawn to each other simply by the motivation forces of their ears. Once
              hooked
              every member
              took their own
              initiative to provide
              contributions that eventually led to the tracks that made it into <b>"We Shall Prevail"</b>. None of them
              knew that they were working on an actual album at the time, and maybe it was for the better that way. You
              never knew when an unknown idea from a fellow musician would transform a seemingly mundane scratch track
              recording into a
              priceless studio gem.
              The
              time was truly magical.
              The initiative and
              willingness of my fellow G# Movement'ers to work together on this remarkable project, even if they didn't
              realize they were working towards this album at the time, has provided me
              some of my greatest moments and
              feelings of all my life. I will always truly be grateful to the unique and priceless creativity, talent,
              and
              contributions of my fellow band members. Towers will always fall, but this music will always be here with
              me everywhere I go for the rest of my journies.
            </p>
          </div>
          <div class="skills">
            <div class="skill-item">
              <div class="skill-header">
                <h3 class="skill-title">Talent</h3>
                <div class="skill-percentage">
                  <div class="count-box">
                    <span class="count-text" data-speed="2000" data-stop="100">0</span>%
                  </div>
                </div>
              </div>
              <div class="skill-bar">
                <div class="bar-inner">
                  <div class="bar progress-line" data-width="100"></div>
                </div>
              </div>
            </div>
            <div class="skill-item">
              <div class="skill-header">
                <h3 class="skill-title">Motivation</h3>
                <div class="skill-percentage">
                  <div class="count-box">
                    <span class="count-text" data-speed="2000" data-stop="100">0</span>%
                  </div>
                </div>
              </div>
              <div class="skill-bar">
                <div class="bar-inner">
                  <div class="bar progress-line" data-width="100"></div>
                </div>
              </div>
            </div>
            <div class="skill-item">
              <div class="skill-header">
                <h3 class="skill-title">Equipment</h3>
                <div class="skill-percentage">
                  <div class="count-box">
                    <span class="count-text" data-speed="2000" data-stop="100">0</span>%
                  </div>
                </div>
              </div>
              <div class="skill-bar">
                <div class="bar-inner">
                  <div class="bar progress-line" data-width="100"></div>
                </div>
              </div>
            </div>
            <div class="skill-item">
              <div class="skill-header">
                <h3 class="skill-title">Experience</h3>
                <div class="skill-percentage">
                  <div class="count-box">
                    <span class="count-text" data-speed="2000" data-stop="100">0</span>%
                  </div>
                </div>
              </div>
              <div class="skill-bar">
                <div class="bar-inner">
                  <div class="bar progress-line" data-width="100"></div>
                </div>
              </div>
            </div>

            <div class="skill-item">
              <div class="skill-header">
                <h3 class="skill-title">Creativity</h3>
                <div class="skill-percentage">
                  <div class="count-box">
                    <span class="count-text" data-speed="2000" data-stop="100">0</span>%
                  </div>
                </div>
              </div>
              <div class="skill-bar">
                <div class="bar-inner">
                  <div class="bar progress-line" data-width="100"></div>
                </div>
              </div>
            </div>
            <div class="skill-item">
              <div class="skill-header">
                <h3 class="skill-title">Passion</h3>
                <div class="skill-percentage">
                  <div class="count-box">
                    <span class="count-text" data-speed="2000" data-stop="100">0</span>%
                  </div>
                </div>
              </div>
              <div class="skill-bar">
                <div class="bar-inner">
                  <div class="bar progress-line" data-width="100"></div>
                </div>
              </div>
            </div>
            <!-- <div class="skill-item">
              <div class="skill-header">
                <h3 class="skill-title">Chance</h3>
                <div class="skill-percentage">
                  <div class="count-box">
                    <span class="count-text" data-speed="2000" data-stop="0">0</span>%
                  </div>
                </div>
              </div>
              <div class="skill-bar">
                <div class="bar-inner">
                  <div class="bar progress-line" data-width="0"></div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 p-0">
        <div class="skill-image">
          <img src="assets/img/skill-bg.png" alt="skill-image"
            title="Thiago Alves. A very, very, very talented drummer." />
        </div>
      </div>
    </div>
  </div>
</section>