<section class="call-to-action ptb-100 jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="container">
        <div class="call-to-action-content">
            <div class="section-title">
                <span>Support the Movement!</span>
                <h2>Ready To <b>Jam</b> With Us?</h2>
                <p>Please support Gadfly & G# Movement by downloading our album and spreading the movement with some
                    joyful and free
                    listens
                    and shares. The album
                    is completely 100% free, no strings, gimmicks, or hooks attached. Gadfly & G# Movement are working
                    to support <i>the movement</i> by
                    spreading the joy that
                    this
                    music
                    brought each and every one of us with as many new individuals as possible. How will you help?</p>
                <a href="assets/album/we_shall_prevail.zip" class="btn btn-primary">Download Album</a>
            </div>
        </div>
    </div>
</section>