<section class="call-to-action ptb-100 jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="container">
        <div class="call-to-action-content">
            <div class="section-title">
                <span>The Movement Needs Your Help</span>
                <h2><b>Support the Movement</b> by Sharing</h2>
                <p>Support Gadfly & G# Movement by not only downloading the free album but by helping it spread by
                    sharing it with your friends and family. We truly just want as many people to listen and enjoy this
                    album
                    as humanly possible, and we don't care how
                    they get our album we just want them to get it. And that
                    depends on supporters like you, so here are some links to share our website and album through many
                    popular platforms.</p>

            </div>
            <div class=" container-fluid py-3">

                <share-buttons theme="circles-dark"
                    [include]="['copy', 'facebook', 'email', 'messenger', 'mix', 'line', 'linkedin', 'pinterest', 'print', 'reddit', 'sms', 'telegram', 'tumblr', 'twitter', 'viber', 'vk', 'xing', 'whatsapp']"
                    [showIcon]="true" [showText]="false" url="https://gsharpmovement.com"
                    description="Check out this new album I found. Band decides it away for free, get your free download at their website"
                    twitterAccount="as3ics" class="pt-5">
                </share-buttons>
                <!-- 
                <share-buttons theme="modern-dark"
                    [include]="['copy', 'facebook', 'email', 'messenger', 'mix', 'line', 'linkedin', 'pinterest', 'print', 'reddit', 'sms', 'telegram', 'tumblr', 'twitter', 'viber', 'vk', 'xing', 'whatsapp']"
                    [showIcon]="true" [showText]="true" url="https://rodrigo.kamada.com.br/"
                    description="Angular Share Buttons" twitterAccount="rodrigokamada" class="pt-5">
                </share-buttons>

                <share-buttons theme="modern-dark"
                    [include]="['copy', 'facebook', 'email', 'messenger', 'mix', 'line', 'linkedin', 'pinterest', 'print', 'reddit', 'sms', 'telegram', 'tumblr', 'twitter', 'viber', 'vk', 'xing', 'whatsapp']"
                    [showIcon]="false" [showText]="true" url="https://rodrigo.kamada.com.br/"
                    description="Angular Share Buttons" twitterAccount="rodrigokamada" class="pt-5">
                </share-buttons> -->
            </div>
        </div>
    </div>
</section>