<section class="call-to-action ptb-100 jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="container">
        <div class="call-to-action-content">
            <div class="section-title">
                <span>Sharing is Caring</span>
                <h2><b>Support G# Movement</b> by Sharing</h2>
                <p>If you are excited about this opportunity or simply like our music please support the musicians &
                    developers
                    of Gadfly & G# Movement by sharing this website with your friends & family and anyone else who may
                    benefit from these offerings. While in the future
                    users will be
                    rewarded in
                    crypto for organically sharing our content, we are truly grateful for any efforts you can
                    provide in spreading our awareness while we are young.</p>

            </div>
            <div class=" container-fluid py-3">

                <share-buttons theme="circles-dark"
                    [include]="['copy', 'facebook', 'email', 'messenger', 'mix', 'line', 'linkedin', 'pinterest', 'print', 'reddit', 'sms', 'telegram', 'tumblr', 'twitter', 'viber', 'vk', 'xing', 'whatsapp']"
                    [showIcon]="true" [showText]="false" url="https://gsharpmovement.com"
                    description="Band is giving away free crypto & NFTs just for downloading their free album."
                    twitterAccount="as3ics" class="pt-5">
                </share-buttons>
                <!-- 
                <share-buttons theme="modern-dark"
                    [include]="['copy', 'facebook', 'email', 'messenger', 'mix', 'line', 'linkedin', 'pinterest', 'print', 'reddit', 'sms', 'telegram', 'tumblr', 'twitter', 'viber', 'vk', 'xing', 'whatsapp']"
                    [showIcon]="true" [showText]="true" url="https://rodrigo.kamada.com.br/"
                    description="Angular Share Buttons" twitterAccount="rodrigokamada" class="pt-5">
                </share-buttons>

                <share-buttons theme="modern-dark"
                    [include]="['copy', 'facebook', 'email', 'messenger', 'mix', 'line', 'linkedin', 'pinterest', 'print', 'reddit', 'sms', 'telegram', 'tumblr', 'twitter', 'viber', 'vk', 'xing', 'whatsapp']"
                    [showIcon]="false" [showText]="true" url="https://rodrigo.kamada.com.br/"
                    description="Angular Share Buttons" twitterAccount="rodrigokamada" class="pt-5">
                </share-buttons> -->
            </div>
        </div>
    </div>
</section>