<!-- @format -->

<div class="main-banner item-bg1">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="main-banner-content text-center">
          <span>Welcome to the G# Movement</span>
          <h1>
            Get your <b> FREE </b> download of the album
            <b> We Shall Prevail </b> brought to you by Gadfly & G# Movement.
          </h1>
          <p>
            Once upon a time whether the stars were aligned or through some
            other mythical force a random group of very talented but different
            musicians came together and made an album that mixed all of their
            individual talents and influences to create a sound that is truly
            once in a lifetime.
          </p>
          <div class="btn-box">
            <a href="#download" class="btn btn-primary">Get Album FREE</a>
            <span> or </span>
            <a
              href="https://www.youtube.com/watch?v=57HnEYpuNLs"
              class="video-btn popup-youtube"
              ><i class="icofont-ui-play"></i> Watch Video</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="shape1">
    <img
      src="assets/img/shapes/1.png"
      alt="shape1"
      style="height: 100px; width: 100px"
    />
  </div>
  <div class="shape2 rotateme">
    <img
      src="assets/img/shapes/2.png"
      alt="shape2"
      style="height: 100px; width: 100px"
    />
  </div>
  <div class="shape3 rotateme">
    <img
      src="assets/img/shapes/3.png"
      alt="shape3"
      style="height: 100px; width: 100px"
    />
  </div>
  <div class="shape4">
    <img
      src="assets/img/shapes/4.png"
      alt="shape4"
      style="height: 100px; width: 100px"
    />
  </div> -->
</div>

<app-features></app-features>

<app-about></app-about>

<app-cta></app-cta>

<app-services></app-services>

<app-who-we-are></app-who-we-are>

<app-skills></app-skills>

<app-portfolio></app-portfolio>

<app-why-we-different></app-why-we-different>

<app-funfacts></app-funfacts>

<app-team></app-team>

<app-story></app-story>

<app-pricing></app-pricing>

<app-testimonial></app-testimonial>

<app-call-to-action></app-call-to-action>

<app-faq></app-faq>

<app-partner></app-partner>

<app-blog></app-blog>

<app-cta-two></app-cta-two>

<app-contact></app-contact>
