<!-- @format -->

<div class="main-banner item-bg1">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="main-banner-content text-center">
          <!-- <span>Welcome <b>Gadfly & G# Movement</b></span> -->
          <h1 style="font-size: 36px">
            Download
            <b>Free Copy</b> of our new album
            <b>"We Shall Prevail"</b> and get <b>Free Crypto & NFTs</b>
          </h1>
          <p style="font-size: 15px">
            We know that you will love our new album so much that we are giving away <b>Free Crypto & NFTs Just for
              Downloading the Free Album</b>. Sign-up today and get on the drop list for our <b>Free Crypto &
              NFT
              Drops & Giveaways</b>, as we launch our album & cryptocurrency company. We want you to
            listen to our
            album so bad that we will literally pay you in crypto just to take the damn thing. Please support us by
            sharing this opportunity with your friends & family.
          </p>
          <!-- <p>
            <b
              >Absolutely no sign-ups, jot-downs, password resets, or CAPCHAs
              required to get your free download right now, today.</b
            >
          </p> -->
          <!-- <div class="btn-box">
            <a
              href="assets/album/we_shall_prevail.zip"
              (click)="emitDownload()"
              class="btn btn-primary"
            >
              {{ buttonText }}
            </a>
            <a
              href="https://www.youtube.com/watch?v=57HnEYpuNLs"
              class="video-btn popup-youtube"
              ><i class="icofont-ui-play"></i> Watch Music Video</a
            >
          </div> -->
          <form class="newsletter-form" #f="ngForm">
            <input type="email" class="form-control" placeholder="Your Email Address" [(ngModel)]="email.value"
              name="email" ngModel required="" pattern="{{ emailRegex }}" />
            <button type="button" (click)="emitDownload()" [disabled]="!f.valid">
              Download
            </button>
          </form>
          <br />
          <h4 style="font-size: 18px; color: white" class="pt-3">
            <span><b>Don't miss out on this opportunity to get free insider access to the new crypto of
                AS3ICS Web3.0
                while risking absolutely nothing. At a bare minimum you are at least going to get an amazing free indie
                folk-rock
                album from Gadfly & G# Movement, but we promise there will is much more to come! This is only the
                beginning.</b></span>
            <!-- <br />
            To participate in this offer there are no questions to answer, or
            forms to fill out. We simply ask that you share in the joy of our
            music, and hopefully, if we did our job right, you feel inspired to
            share the experience of our music with as many people as possible.
            From the very beginning this project we strived to capture essence
            of the best of the best of the absolute potential that Gadfly & G#
            Movement has to offer in musical creativity, and we used literally
            every musical experience we have had to produce this album. In
            essence, this album is the literal physical manifestation of the
            greatest musical creation Gadfly has the potential to produce at
            this point in his young musical career. And now we freely &
            willingly pass this gift, the gift that was given to us, created in
            a moment of pure musical passion & creativity, with the hope that
            you may experience all of the pleasure & joy we each had while
            creating the music that eventually made its way onto this album. -->
          </h4>
        </div>
        <div class="timer pt-5">
          <h3> Free Crypto Ends Jan 1, 2023 at 0:00 EST </h3>
          <span id="days"> {{daysToDday}} </span>Day(s)
          <span id="hours"> {{hoursToDday}} </span>Hrs
          <span id="minutes"> {{minutesToDday}} </span>Min
          <span id="seconds"> {{secondsToDday}} </span>S
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <app-features></app-features> -->

<app-about></app-about>

<app-call-to-action></app-call-to-action>

<app-services></app-services>

<app-cta></app-cta>

<app-nfts></app-nfts>

<app-call-to-action></app-call-to-action>

<app-funfacts></app-funfacts>

<!-- <app-portfolio></app-portfolio> -->

<app-who-we-are></app-who-we-are>

<app-skills></app-skills>

<app-who-we-are-clone></app-who-we-are-clone>

<app-cta></app-cta>

<app-why-we-different></app-why-we-different>

<app-pricing></app-pricing>

<!-- <app-story></app-story> -->

<app-team></app-team>

<app-faq></app-faq>

<app-testimonial></app-testimonial>

<app-call-to-action></app-call-to-action>

<!-- <app-partner></app-partner> -->

<!-- <app-blog></app-blog> -->

<!-- <app-cta-two></app-cta-two> -->

<!-- <app-contact></app-contact> -->