<section class="story-area ptb-100 jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="container">
        <div class="story-content">
            <div class="section-title">
                <span>What makes us go</span>
                <h2>Always on the hunt for the <b>next best beat</b> to march our drums to.</h2>
                <a href="https://www.youtube.com/watch?v=_6oGvoTrD10" class="video-btn popup-youtube"><i
                        class="icofont-ui-play"></i></a>
                <p>Check out this unpublished mix of "From Your Hand To Mine (BandLab Version)" which
                    incorporates
                    contributions from collaborators
                    not found on the final album release. More notable uneleased and unrecognized releases to come.</p>
            </div>
        </div>
    </div>
</section>