<section id="testimonial" class="testimonial-area ptb-100 bg-image">
    <div class="container">
        <div class="section-title">
            <span>What do people have to say about us</span>
            <h2>Our <b>Testimonials</b></h2>
            <p>Here is what some people had to say about Gadfly & G# Movement's music after listening to their album.
            </p>
        </div>
        <div class="testimonial-slides owl-carousel owl-theme">
            <div class="testimonial-item">
                <div class="client-image">
                    <img src="assets/img/author1.jpg" alt="image">
                </div>
                <div class="testimonial-content">
                    <div class="desc">
                        <p>I've had the unique oppurtunity to spend some real quality time with this album and to get to
                            know
                            it inside and out and there are so many
                            great and unique songs on the album that I find myself constantly pondering over which song
                            I
                            want to listen to next. A complete album project from start to finish, practically every
                            song on the album could be a single on the radio.
                    </div>
                    <div class="client-info">
                        <h3>Gabriel T.</h3>
                        <span>Personal Liaison</span>
                    </div>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="client-image">
                    <img src="assets/img/author2.jpg" alt="image">
                </div>
                <div class="testimonial-content">
                    <div class="desc">
                        <p>I was introduced to Gadfly & G# Movement through Zach (or Gadfly, whatever he goes by) and
                            right away I was drawn in to all of it by the unique sounds and rhythms that come out of
                            their music with the
                            constant blending of
                            genres that takes place. Many of the musicians in the group are already practically
                            professionals, but I don't think anything can match the chemistry of how they came together
                            back in the day for such a great
                            project and piece of art in such a short span of time; I truly do hope the album can gain
                            the
                            traction it deserves and
                            stand for the test of time against the best of them.</p>
                    </div>
                    <div class="client-info">
                        <h3>Anthony S.</h3>
                        <span>Product Manager</span>
                    </div>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="client-image">
                    <img src="assets/img/author3.jpg" alt="image">
                </div>
                <div class="testimonial-content">
                    <div class="desc">
                        <p>Finally there is a CD that everyone in the family can agree on. Gentle enough with the lyrics
                            for the kids,
                            even while having some very cathcy upbeat songs that get people excited, especially Gonna
                            Shake with Doug Cowan.
                            When I have it on with the
                            kids they don't even realize their listening to good, mature, respectable music, and it
                            provides a
                            much needed respite from the
                            normal childrens music CD's we have to put up with while normally commuting. G# Movement is
                            a sound that everybody, kids to in-laws, can agree with.</p>
                    </div>
                    <div class="client-info">
                        <h3>Alina E.</h3>
                        <span>Mother</span>
                    </div>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="client-image">
                    <img src="assets/img/author4.jpg" alt="image">
                </div>
                <div class="testimonial-content">
                    <div class="desc">
                        <p>Some advice, you have to listen to this album atleast 2-3 complete times
                            front-to-back to truly be able to appreciate the
                            delicacy of which this album is a piece of art. Every once in awhile there comes along an
                            album that
                            stops you in your tracks and you just have to take the time to stop & listen & reflect on; I
                            have
                            to say this may just be one
                            of those special albums. Always perfect
                            for every occasion, whether you have to study, or need background
                            sound, or if you want to just want to completely rock out, I can honestly say there are no
                            unappealing sounds
                            that come out of this
                            work. A must have for all mature and developed musical libraries.</p>
                    </div>
                    <div class="client-info">
                        <h3>Roger W.</h3>
                        <span>Supervisor</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>