<!-- @format -->

<section id="testimonial" class="testimonial-area ptb-100 bg-image">
  <div class="container">
    <div class="section-title">
      <span>What are people saying about us</span>
      <h2>Our <b>Reviews</b></h2>
      <p>
        Here is what some people had to say about our music after listening to
        the album.
      </p>
    </div>
    <div class="testimonial-slides owl-carousel owl-theme">
      <div class="testimonial-item">
        <div class="client-image">
          <img src="assets/img/author1.jpg" alt="image" />
        </div>
        <div class="testimonial-content">
          <div class="desc">
            <p>
              I've had the oppurtunity to spend enough quality time with this
              album to get to know it truly inside and out because there are so
              many great and unique songs on the album that there is truly not a
              single song I want to skip. A complete studio album from the first
              track to the last; practically every song on the album is better
              than what I hear on the radio.
            </p>
          </div>

          <div class="client-info">
            <h3>Gabriel T.</h3>
            <span>Personal Liaison</span>
          </div>
        </div>
      </div>
      <div class="testimonial-item">
        <div class="client-image">
          <img src="assets/img/author2.jpg" alt="image" />
        </div>
        <div class="testimonial-content">
          <div class="desc">
            <p>
              I was introduced to the album by my friend who is Gadfly and right
              away I was drawn in to it by he unique sounds and beats the album
              threw at me. I know that many of the musicians in G# Movement are
              essentially professionals, but I don't think anything can match
              the chemistry of how they came together for such a great album and
              collection. I do hope the album can gain the traction it deserves
              and so I do my part to support the band by sharing their music and
              letting my friends know how they can get the album for free by
              going to their website.
            </p>
          </div>
          <div class="client-info">
            <h3>Anthony S.</h3>
            <span>Product Manager</span>
          </div>
        </div>
      </div>
      <div class="testimonial-item">
        <div class="client-image">
          <img src="assets/img/author3.jpg" alt="image" />
        </div>
        <div class="testimonial-content">
          <div class="desc">
            <p>
              Finally there is a CD that everyone in the family can agree on.
              Appropriate enough with the tone and lyrics for the kids, even
              while having some very catchy and upbeat tunes, especially Gonna
              Shake which my kids and me all love. They don't even realize their
              listening to mature music when we play it, and it provides a much
              needed rest from all the silly childrens CD's we normally have to
              put up with. G# Movement is a sound that everybody, kids on up to
              in-laws, can agree on, and it is free! Even more amazing.
            </p>
          </div>
          <div class="client-info">
            <h3>Alina E.</h3>
            <span>Mother</span>
          </div>
        </div>
      </div>
      <div class="testimonial-item">
        <div class="client-image">
          <img src="assets/img/author4.jpg" alt="image" />
        </div>
        <div class="testimonial-content">
          <div class="desc">
            <p>
              Here is some advice: you have to listen to this album atleast 2-3
              complete times, front-to-back, to truly be able to appreciate the
              message and feeling of this album. I'm telling you, every once in
              a generation there comes along a complete album that stops you
              where you are and you just have to take the time to stop, listen,
              and reflect on not just the music, but how the music made you
              fell. I have to tell you that this album may just be one of those
              special generational albums. Perfect for any occasion, whether you
              have to study, need background music, or want to completely rock
              out. I can honestly say there are no unappealing sounds that come
              out of this album. A must have for everyone's musical collection.
            </p>
          </div>
          <div class="client-info">
            <h3>Roger W.</h3>
            <span>Supervisor</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
