<section id="pricing" class="pricing-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>So What's it Going to Cost</span>
            <h2><b>Investment</b> Guidelines</h2>
            <p>The album is completely <i>free</i> to download, save, send, listen, and burn, I am just please asking
                you to
                spend something
                which although is actually much more
                valuable than
                money, but it is for the movement; I
                am asking you to take a little bit of your hard-earned free-time, and actually sit down (lay down,
                stand-up, or
                anything in between) and listen to this 30 minute work of musical art and
                that we have just happened to stumble across, as if serendipitously. I
                tried
                to make it easier for the listeners by placing the order of the tracks in what I consider an ideal
                sequence
                for the
                album so that the music can be listened to straight through, front-to-back, and still have the
                maximum possible positive
                effect on the mind and body through its art & storytelling. The goal is to eventually find people who
                will listen to the album on repeat, as I do,
                again-and-again. That is when the album will have the most positivity in your life as it works to calm
                and focus the mind & body with repetitive pleasing sounds.</p>
        </div>
        <div class="tab-slider-nav">
            <p>
                These are the investments guidelines based in time for having a basic understanding of if you are
                maximizing the effects of <i>the movement</i> from the album and tips on
                how to get the most out of <i>the movement</i> while assimilating it's effects into your aura & life.
            </p>
            <br />
            <!-- <ul class="tab-slider-tabs">
            <li class="tab-slider-trigger active" rel="monthly">Investment</li>
            <li class="tab-slider-trigger" rel="yearly">Yearly</li>
            </ul> -->
        </div>
        <div class="tab-slider-container">
            <div id="monthly" class="tab-slider-body">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="pricing-table">
                            <div class="pricing-header">
                                I Participated
                            </div>
                            <div class="price">
                                30<sup> min</sup>
                            </div>
                            <ul class="pricing-features">
                                <li>You completed <b>1 single</b> playthrough of the entire album</li>
                                <li><b>A song or two</b> may be stuck in your ear after the playthrough, for a short
                                    while</li>
                                <li><b>In a day or two</b> you'll have forgetten everything you heard on the album</li>
                                <li>In your daily life you'll reciece <b>no changes</b> in your mood or effect</li>
                                <li>You get a <b>participation credit</b>, but you are encouraged
                                    to try again (You can always download another copy of the
                                    album for free)</li>
                                <li>Without any changes <b>the <i>movement</i></b> will leave you in its wake, but you
                                    will
                                    at least be
                                    able to get
                                    a
                                    good look at it while it passes you by.</li>
                            </ul>
                            <a href="assets/album/we_shall_prevail.zip" class="btn btn-primary">Download Album</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="pricing-table">
                            <div class="pricing-header">
                                I Passed
                            </div>
                            <div class="price">
                                90 <sup>min</sup>
                            </div>
                            <ul class="pricing-features">
                                <li>You have <b>3 complete</b> playthroughs of the album under your belt</li>
                                <li>You are starting to get the hang of some of the lyrics on <b>a song or two</b>. A
                                    song is definitely
                                    stuck in your head, but it's enjoyable.</li>
                                <li><b>In a day or two</b> you find yourself going out of your way to listen to the
                                    album again</li>
                                <li>In your daily life you have <b>positive mood changes</b> are generally in a better
                                    mood.</li>
                                <li>You actively share the album with your close friend earning a <b>positivity
                                        credit</b></li>
                                <li>You jump firmly on <b>the <i>movement</i></b> and are an active part of a new
                                    musical revolution
                                </li>
                            </ul>
                            <a href="assets/album/we_shall_prevail.zip" class="btn btn-primary">Download Album</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                        <div class="pricing-table">
                            <div class="pricing-header">
                                I Mastered
                            </div>
                            <div class="price">
                                180+ <sup>min</sup>
                            </div>
                            <ul class="pricing-features">
                                <li>You have the album <b>playing continuously on repeat</b> through your favorite
                                    speakers or
                                    headset</li>
                                <li>You enjoy <b>singing along with the lyrics</b> to all of your favorite songs from
                                    the
                                    album, and pretty closely have the entire album memorized </li>
                                <li>You have a profound <b>positive attitude correction</b>, and your favorite
                                    TV show is now <b>Ted Lasso</b></li>
                                <li>You share the album with as many people as possible, where you might
                                    single handedly be responsible for spreading <i>the movement</i> to hundreds of new
                                    people across the world</li>
                                <li>You're recognized as a <b>trustworthy leader</b> who handles large
                                    amounts of stress & responsibilities with a continuous positive attitude
                                    manifestation
                                </li>
                            </ul>
                            <a href="assets/album/we_shall_prevail.zip" class="btn btn-primary">Download Album</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>