<section id="pricing" class="pricing-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>How to get the most out of this album</span>
            <h2><b>"Investment"</b> Guidelines</h2>
            <p> While the album is completely <i>free</i> we are not asking for your money investment we are asking for
                your time & attention investment. Here is an idea of what you can get from this album based on some
                projections.</p>
        </div>
        <div class="tab-slider-nav">
            <!-- <p>
                These are the investments guidelines based in time for having a basic understanding of if you are
                maximizing the effects of <i>the movement</i> from the album and tips on
                how to get the most out of <i>the movement</i> while assimilating it's effects into your aura & life.
            </p>
            <br /> -->
            <!-- <ul class="tab-slider-tabs">
            <li class="tab-slider-trigger active" rel="monthly">Investment</li>
            <li class="tab-slider-trigger" rel="yearly">Yearly</li>
            </ul> -->
        </div>
        <div class="tab-slider-container">
            <div id="monthly" class="tab-slider-body">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="pricing-table">
                            <div class="pricing-header">
                                I want to Participate
                            </div>
                            <div class="price">
                                30<sup> min</sup>
                            </div>
                            <ul class="pricing-features">
                                <li>You completed <b>1 single</b> playthrough of the entire album</li>
                                <li><b>A song</b> may be stuck in your head for awhile</li>
                                <li><b>In a day or two</b> you'll have forgetten the song</li>
                                <li>You'll recieve <b>no changes</b> in your daily overall spirit</li>
                                <li>You earned a <b>participation credit</b>, but you are always encouraged
                                    to try again as you can always download another copy of the
                                    album for free if you lose it</li>
                                <li>We tried and we failed to get you hooked on G# Movement. Thanks for giving us a
                                    chance, we gave
                                    you all
                                    we had, our sound just isn't your thing. No biggie.</li>
                            </ul>
                            <a href="assets/album/we_shall_prevail.zip" class="btn btn-primary">Download Album</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="pricing-table">
                            <div class="pricing-header">
                                I want to Support
                            </div>
                            <div class="price">
                                90 <sup>min</sup>
                            </div>
                            <ul class="pricing-features">
                                <li>You have <b>3 complete</b> playthroughs of the album completed</li>
                                <li>You are starting to catch onto some of the lyrics for <b>a few songs</b></li>
                                <li><b>Everyday</b> you find yourself playing one of our songs in your head</li>
                                <li>You have <b>positive mood changes</b> and are generally in a better
                                    mood</li>
                                <li>You share the album with a friend, who says they also like it</li>
                                <li>We thank you for being a productive supporter of G# Movement and sharing the album
                                    with a friend. If everyone responded to the music like you did then our audience
                                    would
                                    grow and G# Movement would be heading in the right direction because of you.
                                </li>
                            </ul>
                            <a href="assets/album/we_shall_prevail.zip" class="btn btn-primary">Download Album</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                        <div class="pricing-table">
                            <div class="pricing-header">
                                I want to Lead
                            </div>
                            <div class="price">
                                180+ <sup>min</sup>
                            </div>
                            <ul class="pricing-features">
                                <li>You continuously <b>play the album on repeat</b></li>
                                <li>You can <b>sing along with the lyrics</b> to all of your favorite songs from
                                    the
                                    album</li>
                                <li>You feel better day-to-day with a <b>positive attitude correction</b>, and your new
                                    favorite
                                    TV show is now <b>Ted Lasso</b></li>
                                <li>You share the album with all your friends when you get the chance.</li>
                                <li>We recognize you as a true leader in the advancement of G# Movement and hope that we
                                    can find
                                    a way to truly recognize you for being a major contributor to the spread of G#
                                    Movement.
                                    If even 1% of our listeners responded to our music like you did then we would spread
                                    like
                                    wildfire around
                                    the globe.
                                </li>
                            </ul>
                            <a href="assets/album/we_shall_prevail.zip" class="btn btn-primary">Download Album</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>