<!-- @format -->

<section id="portfolio" class="portfolio-area ptb-100">
  <div class="container">
    <div class="section-title">
      <span>Get to know the Band</span>
      <h2>G# Movement and <b>We Shall Prevail</b> </h2>
      <p>
        Here the major contributors of G# Movement to the album <b>We Shall Prevail</b>. Learn who brought
        what skills and what contributions to the final sound that eventually made the final cut. Note that many of
        these musicians have
        additional talents and musical skills that are not accounted for in this display; this is based off of only what
        contributions
        made the final cut of the album.
      </p>
    </div>
    <div class="shorting-menu">
      <button class="filter" data-filter="all">All</button>
      <button class="filter" data-filter=".vocalist">Vocalist</button>
      <button class="filter" data-filter=".electric">Electric Guitar</button>
      <button class="filter" data-filter=".piano">Piano/Keyboard</button>
      <button class="filter" data-filter=".acoustic">Acoustic Guitar</button>
      <button class="filter" data-filter=".drums">Drums</button>
      <button class="filter" data-filter=".whistling">Whistling</button>
      <button class="filter" data-filter=".other">Engineering</button>
    </div>
    <div class="shorting">
      <div class="row">
        <div class="col-lg-4 col-md-6 mix drums">
          <div class="single-work">
            <a href="assets/img/work-img1.jpg" class="popup-btn"></a>
            <div class="work-image">
              <img src="assets/img/work-img1.jpg" alt="work-image" />
              <div class="work-overlay">
                <h3>Thiago Alves</h3>
                <span>Drummer</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix vocalist">
          <div class="single-work">
            <a href="assets/img/work-img2.jpg" class="popup-btn"></a>
            <div class="work-image">
              <img src="assets/img/work-img2.jpg" alt="work-image" />
              <div class="work-overlay">
                <h3>Doug Cowan</h3>
                <span>Vocalist/Songwriter</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix piano other">
          <div class="single-work">
            <a href="assets/img/work-img3.jpg" class="popup-btn"></a>
            <div class="work-image">
              <img src="assets/img/work-img3.jpg" alt="work-image" />
              <div class="work-overlay">
                <h3>Domenick DeGeorge</h3>
                <span>Keys/Engineer</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix acoustic other piano vocalist">
          <div class="single-work">
            <a href="assets/img/work-img4.jpg" class="popup-btn"></a>
            <div class="work-image">
              <img src="assets/img/work-img4.jpg" alt="work-image" />
              <div class="work-overlay">
                <h3>Zach DeGeorge aka Gadfly</h3>
                <span>Acoustic Guitar/Engineer</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix vocalist">
          <div class="single-work">
            <a href="assets/img/work-img5.jpg" class="popup-btn"></a>
            <div class="work-image">
              <img src="assets/img/work-img5.jpg" alt="work-image" />
              <div class="work-overlay">
                <h3>Chase Holton</h3>
                <span>Vocalist/Songwriter</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix vocalist">
          <div class="single-work">
            <a href="assets/img/work-img6.jpg" class="popup-btn"></a>
            <div class="work-image">
              <img src="assets/img/work-img6.jpg" alt="work-image" />
              <div class="work-overlay">
                <h3>Timmy Jay</h3>
                <span>Vocalist/Songwriter</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix electric vocalist">
          <div class="single-work">
            <a href="assets/img/work-img7.jpg" class="popup-btn"></a>
            <div class="work-image">
              <img src="assets/img/work-img7.jpg" alt="work-image" />
              <div class="work-overlay">
                <h3>Samuel P Lauzon</h3>
                <span>Electric Guitar/Vocalist</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix electric vocalist whistling">
          <div class="single-work">
            <a href="assets/img/work-img8.jpg" class="popup-btn"></a>
            <div class="work-image">
              <img src="assets/img/work-img8.jpg" alt="work-image" />
              <div class="work-overlay">
                <h3>Matt Mooney</h3>
                <span>Electric Guitar/Vocalist</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix vocalist">
          <div class="single-work">
            <a href="assets/img/work-img9.jpg" class="popup-btn"></a>
            <div class="work-image">
              <img src="assets/img/work-img9.jpg" alt="work-image" />
              <div class="work-overlay">
                <h3>Eli Mwalimu</h3>
                <span>Vocalist</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix vocalist">
          <div class="single-work">
            <a href="assets/img/work-img10.jpg" class="popup-btn"></a>
            <div class="work-image">
              <img src="assets/img/work-img10.jpg" alt="work-image" />
              <div class="work-overlay">
                <h3>The Usual Stoopkid</h3>
                <span>Vocalist/Songwriter</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix vocalist">
          <div class="single-work">
            <a href="assets/img/work-img11.jpg" class="popup-btn"></a>
            <div class="work-image">
              <img src="assets/img/work-img11.jpg" alt="work-image" />
              <div class="work-overlay">
                <h3>Tobi Wats</h3>
                <span>Vocalist/Songwriter</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>