<!-- @format -->

<section id="portfolio" class="portfolio-area ptb-100">
  <div class="container">
    <div class="section-title">
      <span>Meet the Band</span>
      <h2><b>G# Movement</b></h2>
      <p>
        Get to know the major players of G# Movement are and learn who brings
        what talents and contributions throughout the We Shall Prevail album.
      </p>
    </div>
    <div class="shorting-menu">
      <button class="filter" data-filter="all">All</button>
      <button class="filter" data-filter=".vocalist">Vocalist</button>
      <button class="filter" data-filter=".electric">Electric Guitar</button>
      <button class="filter" data-filter=".piano">Piano/Keyboard</button>
      <button class="filter" data-filter=".acoustic">Acoustic Guitar</button>
      <button class="filter" data-filter=".drums">Drums</button>
      <button class="filter" data-filter=".whistling">Whistling</button>
      <button class="filter" data-filter=".other">Other</button>
    </div>
    <div class="shorting">
      <div class="row">
        <div class="col-lg-4 col-md-6 mix drums">
          <div class="single-work">
            <a href="assets/img/work-img1.jpg" class="popup-btn"></a>
            <div class="work-image">
              <img src="assets/img/work-img1.jpg" alt="work-image" />
              <div class="work-overlay">
                <h3>Thiago Alves</h3>
                <span>Drummer</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix other vocalist">
          <div class="single-work">
            <a href="assets/img/work-img2.jpg" class="popup-btn"></a>
            <div class="work-image">
              <img src="assets/img/work-img2.jpg" alt="work-image" />
              <div class="work-overlay">
                <h3>Doug Cowan</h3>
                <span>Harmonica/Vocalist</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix piano other">
          <div class="single-work">
            <a href="assets/img/work-img3.jpg" class="popup-btn"></a>
            <div class="work-image">
              <img src="assets/img/work-img3.jpg" alt="work-image" />
              <div class="work-overlay">
                <h3>Domenick DeGeorge</h3>
                <span>Keys/Engineer</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix acoustic other piano">
          <div class="single-work">
            <a href="assets/img/work-img4.jpg" class="popup-btn"></a>
            <div class="work-image">
              <img src="assets/img/work-img4.jpg" alt="work-image" />
              <div class="work-overlay">
                <h3>Zach DeGeorge aka Gadfly</h3>
                <span>Rhythmic Guitar</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix vocalist acoustic electric">
          <div class="single-work">
            <a href="assets/img/work-img5.jpg" class="popup-btn"></a>
            <div class="work-image">
              <img src="assets/img/work-img5.jpg" alt="work-image" />
              <div class="work-overlay">
                <h3>Chase Holton</h3>
                <span>Vocalist/Guitarist</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix acoustic vocalist">
          <div class="single-work">
            <a href="assets/img/work-img6.jpg" class="popup-btn"></a>
            <div class="work-image">
              <img src="assets/img/work-img6.jpg" alt="work-image" />
              <div class="work-overlay">
                <h3>Timmy Jay</h3>
                <span>Vocalist/Guitarist</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix acoustic electric drums vocalist">
          <div class="single-work">
            <a href="assets/img/work-img7.jpg" class="popup-btn"></a>
            <div class="work-image">
              <img src="assets/img/work-img7.jpg" alt="work-image" />
              <div class="work-overlay">
                <h3>Samuel P Lauzon</h3>
                <span>Jack-of-all-trades/Master-of-many</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix acoustic electric vocalist whistling">
          <div class="single-work">
            <a href="assets/img/work-img8.jpg" class="popup-btn"></a>
            <div class="work-image">
              <img src="assets/img/work-img8.jpg" alt="work-image" />
              <div class="work-overlay">
                <h3>Matt Mooney</h3>
                <span>Songwriter/Guitarist</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix vocalist">
          <div class="single-work">
            <a href="assets/img/work-img9.jpg" class="popup-btn"></a>
            <div class="work-image">
              <img src="assets/img/work-img9.jpg" alt="work-image" />
              <div class="work-overlay">
                <h3>Eli Mwalimu</h3>
                <span>Vocalist</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix vocalist">
          <div class="single-work">
            <a href="assets/img/work-img10.jpg" class="popup-btn"></a>
            <div class="work-image">
              <img src="assets/img/work-img10.jpg" alt="work-image" />
              <div class="work-overlay">
                <h3>The Usual Stoopkid</h3>
                <span>Vocalist</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mix vocalist">
          <div class="single-work">
            <a href="assets/img/work-img11.jpg" class="popup-btn"></a>
            <div class="work-image">
              <img src="assets/img/work-img11.jpg" alt="work-image" />
              <div class="work-overlay">
                <h3>Tobi Wats</h3>
                <span>Vocalist/Songwriter</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
