<!-- @format -->

<section class="who-we-are ptb-100 bg-image">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-12">
        <div class="section-title">
          <span>Musical Pioneers</span>
          <h2><b>G# Movement</b> is not a normal band.</h2>
          <p>
            G# Movement is not your typical band. We don't have band practices where band mates do whatever it is that
            proper
            musicians do during proper musical practices. We can't have normal practices because our members are spread
            across
            the entire
            lower continental United States. If there aren't any practices, then you probably have come to the
            realization of the peripheral elephant in the room, so-to-speak, which is that if we can't have band
            practices
            then can
            we
            have
            band concerts. Unfortunately this is a limitation that G# Movement has yet to be able to overcome. The
            musical creation process of G# Movement is part of what makes the groups sound so unique, but is at the
            expense of allowing us to continue creating music without the need to be in the same place geographically,
            ergo no concerts.
            While
            we truly wish we could bring live
            renditions of our musical creations to an audience, to not only to grow our presence, but also to
            improve our live performance skills and have some fun, the hurdle of presenting live performances is one
            that G#
            Movement has yet to be
            overcome. This what G#
            Movement faces in a competive musical market, and the group is actively trying to learn how
            to navigate in the current environment with the bands restrictions.
          </p>
          <p>One may ask can a band truly
            exist
            entirely in
            the virtual
            realm. Will the music a virtual band makes be considered <i>valid</i> to the general musical community if it
            can't be performed. Gadfly &
            G# Movement
            wants to try and find a
            way to if not thrive, then at least coexist in this competitive musical environment, and we are always open
            to
            ideas and support
            that will allow us to offer a more
            traditional musical
            experience to our supporters and fans. Additionally Gadfly & G# Movement are always looking and open to new
            and
            creative
            techniques to break the
            trend of what is expected between the relationship of musical groups & their followers, as well as to create
            new
            &
            unique
            technological ideas & opportunities that directly impact our collective future while actively transforming
            how
            everyday people
            interact with the technology & music in their everyday lives.
          </p>

        </div>
      </div>
      <div class="col-lg-7 col-md-12">
        <div class="content">
          <p>
            G# Movement strives to make what difference it can in the world
            by directly contributing and encouraging the expansion of collaborative music endeavors for musicians of all
            ages & skill levels,
            and so Gadfly & G# Movement have made the decision to distribute our music by giving away our
            latest
            studio
            album for free, providing controlled & legitimate access to source files used during the production
            process, and we do this
            in not just an effort to spread the prescence & message of Gadfly & G# Movement's music, but
            also
            to encourage as many other
            professional and amatuer musicians & producers of all levels to expose & share their active
            musical projects &
            endevors to musicians of all
            ages & talent levels by
            licensing and
            open-sourcing
            not only
            their completed work products, but also by exposing their unfinished & ongoing work-in-progress creative
            projets to not just
            professional, but also unprofessional collaborators to provide actual material & opportunity to eager
            musicians of any level who will gain access to multiple advanced musical projects & assignments in a
            eyes-on,
            hands-on environment where active sharing of experience & knowledge
            is encouraged between all participants.
          </p>
          <br />
          <p>
            Additionally Gadfly & G# Movement is giving
            their music away in an effort to contribute in any way possible to the growth of G# Movement's general
            exposure
            and
            active viewership. The decision to simply give away our album was not made in haste, and not without careful
            consideration to how it might impact the group on a larger scale, but we
            in all truthfulness & honestly believe in the potential appeal of our sound
            combined with the positive and uplifting
            messages represented by our songs & lyrics, as well as the belief that our product has the ability to be
            cross-marketed to a large selection of
            diverse groups of
            potential fans & customers contained in both
            older and younger
            age-groups.
          </p>
          <br />
          <p>
            So in conclusion we
            are
            giving away
            our music
            to anyone and everyone who will take it in an effort to lift our exposure, knowing that if the album is
            to make money one day that
            that
            process will
            likely be in the future &
            follow our current situation when the time is right.
          </p>
          <br />
          <!-- <p>And just in case you were wondering about what you can do with your brand-new, shiny, still has a new-car
        smell
        musical album, here are some of the things you can do with it:
      </p> -->
        </div>
      </div>
    </div>
  </div>
</section>