<!-- @format -->

<section class="cta-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8 col-md-8">
        <div class="cta-content">
          <h3>
            Don't forget your <b>Free Copy</b> of our <b>complete album</b> is
            available for download.
          </h3>
          <span
            >Download, save, share, copy, send, delete, download again, upload,
            torrent, rinse, wet, repeat, anything, but for honesties sake please
            just take the time to listen to the album!</span
          >
        </div>
      </div>
      <div class="col-lg-4 col-md-4 text-right">
        <a
          href="assets/album/we_shall_prevail.zip"
          (click)="emitDownload()"
          class="btn btn-primary"
        >
          {{ buttonText }}
        </a>
      </div>
    </div>
  </div>
</section>
