<!-- @format -->

<section class="cta-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8 col-md-8">
        <div class="cta-content">
          <h3>
            Don't forget your <b>Free Digital Copy</b> of our complete
            <b>latest studio release</b>, available for instant download.
          </h3>
          <span
            >Download, save, copy, send, delete, download again, upload,
            torrent, rinse, wet, repeat, anything, but for god's honest sake,
            please just take some time to listen to the free studio album!</span
          >
        </div>
      </div>
      <div class="col-lg-4 col-md-4 text-right">
        <a href="assets/album/we_shall_prevail.zip" class="btn btn-primary">
          Download "We Shall Prevail (2022 Remaster)"
        </a>
      </div>
    </div>
  </div>
</section>
